<ion-view class="app-body">
    <ion-content class="gradient-fill">
        <div class="about-div">
            
            <div class="about-title">Contact Details</div>
            
            <div class="contact-block first-block">
            <p class="about-head">Venue Coordinator</p>
            <p>Mihir (Andheri) : <a href="tel:9004439443">9004439443</a></p>
            <p>Neeraj (Andheri) :  <a href="tel:8291605145">8291605145</a></p>
            <p>Raed (KSA) :  <a href="tel:9967649495">9967649495</a></p>
            </div>
            
            <div class="contact-block">
            <p class="about-head">Technical Manager</p>
            <p>Shantanu (Andheri) :  <a href="tel:9873284101">9873284101</a></p>
            <p>Chetan (Andheri) : <a href="tel:9820186711"> 9820186711</a></p>
            <p>Nihal (KSA) :  <a href="tel:9819190395">9819190395</a></p>
            </div>
            
            <div class="contact-block">
            <p class="about-head">Venue Manager</p>
            <p>Rahil (Andheri) :  <a href="tel:7506111850">7506111850</a></p>
            <p>Jashan (KSA) :  <a href="tel:9930395798">9930395798</a></p>
            </div>
            
            <div class="contact-block last-block">
            <p class="about-head">Tournemant Lead</p>
            <p>Amulya:  <a href="tel:8291605144">8291605144</a></p>
            </div>
            
             <div class="about-title">APP Developed By</div>
                <div class="pixolo-logo">
                    <img src="img/pixolo-about.gif" alt="Pixolo Productions">
                    <a href="http://www.pixoloproductions.com"><p class="app-site-text">www.pixoloproductions.com</p></a>
                </div>
            
            
            
        </div>
        
    </ion-content>
</ion-view>