<ion-view class="app-body">
    <ion-content class="gradient-fill">
        <div class="post-main-wrapper">
            <div class="row">
                <div class="col-50 post-header-wrap" style="float:left;">
                    <div class="post-profile timeline-block-header post detail-image">
                        <svg ng-if="$root.fcbuserdata.facebook_id==''" enable-background="new 0 0 612 612" version="1.1" viewBox="0 0 612 612" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                            <style type="text/css">
                                .st0 {
                                    fill: #FFFFFF !important;
                                }
                                
                                .st1 {
                                    fill: #B61E48 !important;
                                }
                                
                                .st2 {
                                    fill: #101F36 !important;
                                }
                                
                                .st3 {
                                    fill: #B61E48 !important;
                                }
                            </style>
                            <circle class="st0" cx="306" cy="309" r="284" stroke="#B61E48" stroke-width="35" />
                            <path class="st1" d="m121 438.2c-3.1 12.8-3.8 26.2-5.6 39.4v1.3h47.3v-121c-20.1 22.2-34.2 48.8-41.7 80.3z" />
                            <path class="st2" d="m210.2 320.1c-18.4 10.7-34.2 23.3-47.5 37.8v121h47.8v-158.9c-0.2 0-0.3 0.1-0.3 0.1z" />
                            <path class="st1" d="m218.1 321.4c-2-1.3-5.7-2.2-7.7-1.4v158.9h47.8v-138c-13.9-4.5-27.3-11.1-40.1-19.5z" />
                            <path class="st2" d="m258.2 340.9v138.1h47.8v-130.7c-16.6 0-32.6-2.5-47.8-7.4z" />
                            <path class="st1" d="m310 348.2h-4v130.6h47.8v-138c-14 4.6-28.6 7.1-43.8 7.4z" />
                            <path class="st2" d="m393.7 321.1c-12.6 8.7-26 15.2-40 19.8v138h47.8v-159.2c-2.6-1-4.8-0.6-7.8 1.4z" />
                            <path class="st1" d="m403.8 320.8c-0.8-0.5-1.5-0.8-2.2-1.1v159.2h47.8v-120.9c-12.8-14.1-28-26.5-45.6-37.2z" />
                            <path class="st2" d="m493.2 448c-6.8-35.5-21.6-65.4-43.9-90v121h47.3v-1.3c-1.1-10-1.6-20-3.4-29.7z" />
                            <circle class="st3" cx="306" cy="205.2" r="111" />
                        </svg>

                        <img src="{{$root.fcbuserdata.facebook_id|facebookprofile}}" err-src="img/fcb_default_profile.svg" class="post-img" ng-if="$root.fcbuserdata.facebook_id!=''">

                        <div>
                            <p class="timeline-username post-username post-name">{{$root.fcbuserdata.name}}</p>

                        </div>
                    </div>
                </div>
                <!--SUBMIT POST ICON DIV-->
                <div class="col-50" ng-click="transferfile()">
                    <a class="tick-icon-button">


                        <svg height="45px" width="45px" enable-background="new 0 0 150 150" version="1.1" viewBox="0 0 150 150" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                            <style type="text/css">
                                .round {
                                    fill: #1CB06F !important;
                                }
                                
                                .tick {
                                    fill: #EEF7F3;
                                }
                            </style>
                            <circle class="round" cx="73.3" cy="75" r="58.3" stroke="green" stroke-width="3" fill="gray" />
                            <path class="tick" d="m32.9 71c0-4.5 2.1-5.6 6.1-3.3 6 3.5 10.7 8.5 14.3 14.4 2 3.3 3.6 3.8 6.6 0.9 12.6-12 27.4-21.1 41.6-30.9 2.3-1.6 4.8-2.9 7.3-4.3 1.4-0.7 3.8-2.1 4.6-0.9 0.8 1.1-1.1 3.9-1.8 5-13.4 19.4-29.6 36.6-45.9 53.7-6.9 7.2-9.8 7.1-16-0.7-6.7-8.4-12.1-17.5-15.6-27.7-0.6-2.1-1.3-4.2-1.2-6.2z" />
                        </svg>



                    </a>
                </div>
                <!--SUBMIT POST ICON DIV END-->
            </div>

            <div class="post-body-wrap">
                <div class="textarea-wrapper">

                    <textarea class="post-textarea" rows="6" cols="50" name="comment" form="usrform" ng-model="post.caption" placeholder="Start typing">
                        <!--ng-change="findsensoredwords()"-->
                    </textarea>
                </div>
                <div class="image-wrapper" ng-show="fileURI!=''">
                    <div class="cut-image">
                        <a ng-click="removeimage()">
                            <svg width="15px" class="cross-img" height="15px" enable-background="new 0 0 22.88 22.88" version="1.1" viewBox="0 0 22.88 22.88" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path d="m0.324 1.909c-0.429-0.429-0.429-1.143 0-1.587 0.444-0.429 1.143-0.429 1.587 0l9.523 9.539 9.539-9.539c0.429-0.429 1.143-0.429 1.571 0 0.444 0.444 0.444 1.159 0 1.587l-9.523 9.524 9.523 9.539c0.444 0.429 0.444 1.143 0 1.587-0.429 0.429-1.143 0.429-1.571 0l-9.539-9.539-9.523 9.539c-0.444 0.429-1.143 0.429-1.587 0-0.429-0.444-0.429-1.159 0-1.587l9.523-9.539-9.523-9.524z" fill="white" />
                            </svg>
                        </a>


                    </div>
                    <img id="mypostimage" width="100%">

                </div>



                <div class="post-action-butons">
                    <div class="row">
                        <!--PHOTO UPLOAD CAMERA-->
                        <div class="camera-butons" ng-click="photouploadfromcamera()">

                            <svg width="30px" height="30px" enable-background="new 0 0 333.668 333.668" version="1.1" viewBox="0 0 333.67 333.67" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path d="m295.1 298.65h-256.54c-21.266 0-38.561-17.295-38.561-38.561v-156.38c0-21.266 17.295-38.561 38.561-38.561h52.347l4.582-15.457c1.87-8.458 9.602-14.666 18.696-14.666h105.3c8.837 0 16.658 6.176 18.728 14.743l0.122 0.527 4.177 14.852h52.597c21.266 0 38.561 17.295 38.561 38.561v156.38c-6e-3 21.268-17.307 38.563-38.567 38.563zm-256.54-220.65c-14.178 0-25.707 11.53-25.707 25.707v156.38c0 14.178 11.53 25.707 25.707 25.707h256.54c14.178 0 25.707-11.53 25.707-25.707v-156.38c0-14.178-11.53-25.707-25.707-25.707h-62.327l-7.037-25.097c-0.649-2.918-3.278-5.032-6.26-5.032h-105.3c-3.027 0-5.598 2.069-6.26 5.039l-7.429 25.09h-61.929zm128.28 181.8c-44.981 0-81.576-36.588-81.576-81.563 0-44.981 36.594-81.569 81.576-81.569 44.969 0 81.557 36.594 81.557 81.569-1e-3 44.969-36.589 81.563-81.557 81.563zm0-150.28c-37.893 0-68.722 30.823-68.722 68.716s30.83 68.709 68.722 68.709c37.886 0 68.703-30.823 68.703-68.709-1e-3 -37.893-30.824-68.716-68.703-68.716zm119.96-7.661c-6.555 0-11.858 5.315-11.858 11.858 0 6.549 5.302 11.857 11.858 11.857 6.549 0 11.851-5.309 11.851-11.857-6e-3 -6.543-5.309-11.858-11.851-11.858z" fill="#8e9194" />
                            </svg>

                        </div>
                        <!---->
                        <!--Gallery div-->
                        <div class="gallery-button" ng-click="photouploadfromgallery()">



                            <svg enable-background="new 0 0 150 150" version="1.1" viewBox="0 0 150 150" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path d="m107.8 117.3h-60.5c-6.6 0-12-5.4-12-12v-60.5c0-6.6 5.4-12 12-12h60.5c6.6 0 12 5.4 12 12v60.5c0 6.5-5.5 12-12 12z" fill="#fff" stroke="#8e9194" stroke-miterlimit="10" stroke-width="4" />
                                <polyline points="35.3 89.8 62.8 68.5 89.5 89.8 102.5 77 119.8 88.5" fill="#fff" stroke="#8e9194" stroke-miterlimit="10" stroke-width="4" />
                                <circle cx="94.9" cy="53.7" r="9.9" fill="#fff" stroke="#8e9194" stroke-miterlimit="10" stroke-width="4" />
                            </svg>





                        </div>
                        <!---->
                        <!--FACEBOOK SHARING-->
                        <div class="fb-toggle" ng-show="fileURI!=''">

                            <label class="toggle">
                                <input type="checkbox" ng-model="toggle.value">
                                <div class="track">
                                    <div class="handle">
                                        <svg width="30px" height="25px" enable-background="new 0 0 49.652 49.652" version="1.1" viewBox="0 0 49.652 49.652" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <path d="m24.826 0c-13.689 0-24.826 11.137-24.826 24.826 0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826 0-13.689-11.136-24.826-24.826-24.826zm6.174 25.7h-4.039v14.396h-5.985v-14.396h-2.845v-5.088h2.845v-3.291c0-2.357 1.12-6.04 6.04-6.04l4.435 0.017v4.939h-3.219c-0.524 0-1.269 0.262-1.269 1.386v2.99h4.56l-0.523 5.087z" fill="#b6b9ba" />
                                        </svg>


                                    </div>
                                </div>
                            </label>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="hr-tag">

                </div>
                <div class="cancel-wrap">
                    <a class="cancel-button" ng-click="cancelposting()">Cancel</a>
                </div>

            </div>




        </div>

    </ion-content>
</ion-view>
