<ion-view class="app-body">
    <ion-content class="gradient-fill album-content">
        <div ng-repeat="album in albums">
            <div class="fcb-album" ng-click="getphotos(album)">
                <img class="img1 show-immage z-depth-2" src="{{album.image|imagepath:'gallery'}}" alt="Image1">
                <img class="img2 rotated-images z-depth-2" src="{{album.image|imagepath:'gallery'}}" alt="Image2">
                <img class="img3 rotated-images z-depth-2" src="{{album.image|imagepath:'gallery'}}" alt="Image3">

            </div>
            <div class="caption"><p>{{album.name}}</p></div>
        </div>

    </ion-content>
</ion-view>
