<ion-view class="app-body">
    <ion-content class="gradient-fill padding-main-content">
        <div class="category-main-block">

            <div class="category-style">
                <h2>CATEGORIES</h2>
            </div>

            <div class="category-div">

                <a href="#/app/fixtures/{{category.id}}" ng-repeat="category in categories">
                    <div class="category-block button-shadow">
                        <div class="category-text-color">{{category.name+' under '+category.age}}</div>
                        <svg enable-background="new 0 0 200 200" version="1.1" viewBox="0 0 200 200" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                            <path d="m33.5 100v-66.7-2.2c0.4-8.4 7.4-13.3 15.2-9.9 5.8 2.5 11.2 5.8 16.7 8.9 34.5 19.9 69.1 39.8 103.6 59.8 9.9 5.7 10 14.4 0 20.1-38.8 22.4-77.6 44.8-116.5 67.2-1.6 0.9-3.2 1.8-5 2.2-7.9 2.1-14-2.6-14.1-10.8-0.1-8.5 0-17 0-25.5 0.1-14.3 0.1-28.7 0.1-43.1z" />
                        </svg>
                    </div>
                </a>





            </div>


        </div>



    </ion-content>
</ion-view>