<ion-view class="app-body">

    <!--<div id="dates-slider" class="category-style top-dates-wrapper">
        <p class="top-date" id="date{{$index}}" ng-repeat="date in sortedarray" ng-click="changeSlider($index)">{{date.date}}</p>
    </div>-->
    <ion-content class="gradient-fill">

        <div class="fixtures-main-wrapper">


            <div class="fixtures-wrapper">
                <div ng-repeat="date in sortedarray" class="date-fixture-item" id="full-date-fixture-item" ng-if="sortedarray.length>0">

                    <div class="back-calendar" ng-if="date.categories[0].fixtures.length < 2">
                        <svg enable-background="new 0 0 488.152 488.152" version="1.1" viewBox="0 0 488.15 488.15" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                            <path d="m177.85 269.31c0-6.115-4.96-11.069-11.08-11.069h-38.665c-6.113 0-11.074 4.954-11.074 11.069v38.66c0 6.123 4.961 11.079 11.074 11.079h38.665c6.12 0 11.08-4.956 11.08-11.079v-38.66z" />
                            <path d="m274.48 269.31c0-6.115-4.961-11.069-11.069-11.069h-38.67c-6.113 0-11.074 4.954-11.074 11.069v38.66c0 6.123 4.961 11.079 11.074 11.079h38.67c6.108 0 11.069-4.956 11.069-11.079v-38.66z" />
                            <path d="m371.12 269.31c0-6.115-4.961-11.069-11.074-11.069h-38.665c-6.12 0-11.08 4.954-11.08 11.069v38.66c0 6.123 4.96 11.079 11.08 11.079h38.665c6.113 0 11.074-4.956 11.074-11.079v-38.66z" />
                            <path d="m177.85 365.95c0-6.125-4.96-11.075-11.08-11.075h-38.665c-6.113 0-11.074 4.95-11.074 11.075v38.653c0 6.119 4.961 11.074 11.074 11.074h38.665c6.12 0 11.08-4.956 11.08-11.074v-38.653z" />
                            <path d="m274.48 365.95c0-6.125-4.961-11.075-11.069-11.075h-38.67c-6.113 0-11.074 4.95-11.074 11.075v38.653c0 6.119 4.961 11.074 11.074 11.074h38.67c6.108 0 11.069-4.956 11.069-11.074v-38.653z" />
                            <path d="m371.12 365.95c0-6.125-4.961-11.075-11.069-11.075h-38.67c-6.12 0-11.08 4.95-11.08 11.075v38.653c0 6.119 4.96 11.074 11.08 11.074h38.67c6.108 0 11.069-4.956 11.069-11.074v-38.653z" />
                            <path d="m440.25 54.354v59.05c0 26.69-21.652 48.198-48.338 48.198h-30.493c-26.688 0-48.627-21.508-48.627-48.198v-59.262h-137.44v59.262c0 26.69-21.938 48.198-48.622 48.198h-30.499c-26.685 0-48.336-21.508-48.336-48.198v-59.05c-23.323 0.703-42.488 20.002-42.488 43.723v346.06c0 24.167 19.588 44.015 43.755 44.015h389.82c24.131 0 43.755-19.889 43.755-44.015v-346.06c0-23.721-19.164-43.02-42.487-43.723zm-14.163 368.23c0 10.444-8.468 18.917-18.916 18.917h-327.03c-10.448 0-18.916-8.473-18.916-18.917v-178.75c0-10.448 8.467-18.921 18.916-18.921h327.03c10.448 0 18.916 8.473 18.916 18.921l1e-3 178.75z" />
                            <path d="m96.128 129.94h30.162c9.155 0 16.578-7.412 16.578-16.567v-96.805c0-9.156-7.423-16.573-16.578-16.573h-30.162c-9.156 0-16.578 7.417-16.578 16.573v96.805c0 9.155 7.422 16.567 16.578 16.567z" />
                            <path d="m361.04 129.94h30.162c9.149 0 16.572-7.412 16.572-16.567v-96.805c1e-3 -9.156-7.422-16.573-16.572-16.573h-30.162c-9.154 0-16.577 7.417-16.577 16.573v96.805c0 9.155 7.423 16.567 16.577 16.567z" />
                        </svg>
                        <p class="date-text">{{date.date}}</p>
                    </div>

                    <div class="date-wrapper" id="date-{{$index}}">
                        <p class="date-text">{{date.date}}</p>
                    </div>

                    <div ng-repeat="cat in date.categories" class="category-fixtures-wrapper">
                        <div class="category-wrapper">
                            <p class="category-text">{{cat.category}} under {{cat.category_age}}</p>
                        </div>

                        <!--ONE FIXTURE ITEM-->
                        <div class="fixture-item" ng-repeat="fixture in cat.fixtures">
                            <div class="group-div">
                                <p class="group-text" ng-if="fixture.matchtype_id == 1">{{fixture.group_name}}</p>
                                <p class="group-text" ng-if="fixture.matchtype_id != 1">{{fixture.matchtype}}</p>
                            </div>
                            <div class="schedule-div">
                                <p class="venue-text" ng-if="fixture.results[0].score==null">{{fixture.time}}</p>
                                <p class="venue-text">{{fixture.venue}}</p>
                            </div>
                            <div class="fixture-div">
                                <div class="team-div">
                                    <img class="team-image" src="img/square-thumb.png" err-src="img/team_logo.png" style="background-image:url({{ fixture.team1_logo |imagepath:'teams' }})" />
                                    <p class="team-name">{{fixture.team1_name}}</p>
                                </div>

                                <div class="team-score-wrapper">
                                    <p class="vs-text" ng-if="fixture.results[0].score==null">VS</p>
                                    <p class="main-score" ng-if="fixture.results[0].score!=null">{{fixture.results[0].score}}:{{fixture.results[1].score}}</p>
                                    <p class="penalty-score" ng-if="fixture.results[0].penaltyscore!=null">({{fixture.results[0].penaltyscore}}-{{fixture.results[1].penaltyscore}})</p>
                                </div>


                                <div class="team-div">
                                    <img class="team-image" src="img/square-thumb.png" err-src="img/team_logo.png" style="background-image: url({{ fixture.team2_logo |imagepath:'teams' }})" />
                                    <p class="team-name">{{fixture.team2_name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="no-data-section" ng-if="sortedarray.length==0">
                    Fixtures for this category haven't scheduled yet!
                </div>

            </div>
        </div>


    </ion-content>
</ion-view>
