<ion-view class="app-body">
    <ion-content class="gradient-fill padding-main-content">
        <div class="main-block">
            <div class="block-repeat">
                <div class="top-name following-heading">
                    <h2>FOLLOWING</h2>
                </div>
            </div>
            <!--<div ng-repeat="followingteamfixtures in followingteamsinformation" ng-if="followingteamfixtures.fixtures.length>0">
    <div class="team-name-bar">{{followingteamfixtures.team_name}}</div>

    <div class="following-fixture" ng-repeat="fixture in followingteamfixtures.fixtures">

        <div class="team1"><img src="{{fixture.team1_logo?(fixture.team1_logo|imagepath:'teams'):'img/team_logo.png'}}" alt="">
            <p class="small-text">{{fixture.team1_name}}</p>
        </div>
        <div class="following-points">
            <p class="small-text">{{fixture.venue}}</p>
            <p class="big-text">{{fixture.results[0].score}}:{{fixture.results[1].score}}</p>
            <p style="color: red">({{fixture.results[0].penaltyscore}}-{{fixture.results[1].penaltyscore}})</p>
        </div>
        <div class="team2"><img src="{{fixture.team2_logo?(fixture.team2_logo|imagepath:'teams'):'img/team_logo.png'}}" alt="">
            <P class="small-text">{{fixture.team2_name}}</P>
        </div>
    </div>
</div>-->


            <div class="fixtures-wrapper" ng-repeat="followingteamfixtures in followingteamsinformation" ng-if="followingteamfixtures.fixtures.length>0">


                <div class="team-name-bar">{{followingteamfixtures.team_name}}</div>

                <!--ONE FIXTURE ITEM-->
                <!--<div class="fixture-item" ng-repeat="fixture in followingteamfixtures.fixtures">

                    <div class="schedule-div">
                        <p class="venue-text">{{fixture.time}}</p>
                        <p class="venue-text">{{fixture.venue}}</p>
                    </div>
                    <div class="fixture-div">
                        <div class="team-div">
                            <img class="team-image" src="{{fixture.team1_logo?(fixture.team1_logo|imagepath:'teams'):'img/team_logo.png'}}" />
                            <p class="team-name">{{fixture.team1_name}}</p>
                        </div>

                        <div class="team-score-wrapper">
                            <p class="vs-text" ng-if="fixture.results[0].score==''">VS</p>
                            <p class="main-score" ng-style="{display:fixture.results[0].score!=''?'inline':'none'}">{{fixture.results[0].score}}:{{fixture.results[1].score}}</p>
                            <p class="penalty-score" ng-style="{display:fixture.results[0].score!=''?'inline':'none'}">({{fixture.results[0].penaltyscore}}-{{fixture.results[1].penaltyscore}})</p>
                        </div>

                        <div class="team-div">
                            <img class="team-image" src="{{fixture.team2_logo?(fixture.team2_logo|imagepath:'teams'):'img/team_logo.png'}}" />
                            <p class="team-name">{{fixture.team2_name}}</p>
                        </div>
                    </div>
                </div>-->

                <div class="fixture-item" ng-repeat="fixture in followingteamfixtures.fixtures">
                    <div class="group-div">
                        <p class="group-text" ng-if="fixture.matchtype_id == 1">{{fixture.group_name}}</p>
                        <p class="group-text" ng-if="fixture.matchtype_id != 1">{{fixture.matchtype}}</p>
                    </div>
                    <div class="schedule-div">
                        <p class="venue-text" ng-if="fixture.results[0].score==null">{{fixture.time}}</p>
                        <p class="venue-text">{{fixture.venue}}</p>
                    </div>
                    <div class="fixture-div">
                        <div class="team-div">
                            <img class="team-image" src="img/square-thumb.png" err-src="img/team_logo.png" style="background-image:url({{(fixture.team1_logo!=''?(fixture.team1_logo |imagepath:'teams'):'img/team_logo.png' )}})" />
                            <p class="team-name">{{fixture.team1_name}}</p>
                        </div>

                        <div class="team-score-wrapper">
                            <p class="vs-text" ng-if="fixture.results[0].score==null">VS</p>
                            <p class="main-score" ng-if="fixture.results[0].score!=null">{{fixture.results[0].score}}:{{fixture.results[1].score}}</p>
                            <p class="penalty-score" ng-if="fixture.results[0].penaltyscore!=null">({{fixture.results[0].penaltyscore}}-{{fixture.results[1].penaltyscore}})</p>
                        </div>

                        <div class="team-div">
                            <img class="team-image" src="img/square-thumb.png" err-src="img/team_logo.png" style="background-image: url({{fixture.team2_logo!=''?(fixture.team2_logo |imagepath:'teams'):'img/team_logo.png' }})" S />
                            <p class="team-name">{{fixture.team2_name}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="no-data-section" ng-if="followingteamsinformation.length==0">
            Follow a team to get their updates here !
        </div>

    </ion-content>
</ion-view>
