<ion-view class="app-body">
    <ion-content class="gradient-fill padding-main-content">
        <div class="main-block">
            <div class="block-repeat" ng-repeat="groups in pointstabledata track by $index" ng-if="groups.table.length>0">
                <div class="top-name">
                    <h2 class="wow zoomIn animated">{{groups.name}}</h2>
                </div>

                <div class="group-info wow fadeInLeft animated">
                    <table class="group-table">
                        <tr>
                            <th class="table-grp-name ">{{key}}</th>
                            <th class="table-points">P</th>
                            <th class="table-points">W</th>
                            <th class="table-points">D</th>
                            <th class="table-points">L</th>
                            <th class="table-points">GF</th>
                            <th class="table-points">GA</th>
                            <th class="table-points">GD</th>
                            <th class="table-points">PTS</th>
                        </tr>
                        <tr ng-repeat="team in groups.table|orderBy:['-points','-(hth)','-(goals_scored-goals_conceded)', '-goals_scored']">
                            <td class="group-team-name">
                                <img src="{{team.team_logo|imagepath:'teams'}}">
                                <p>{{team.team_name}}</p>
                            </td>
                            <td>{{team.played}}</td>
                            <td>{{team.won}}</td>
                            <td>{{team.drawn}}</td>
                            <td>{{team.loss}}</td>
                            <td>{{team.goals_scored}}</td>
                            <td>{{team.goals_conceded}}</td>
                            <td>{{team.goals_scored-team.goals_conceded}}</td>
                            <td>
                                <div class="point-numbers">{{team.points}}</div>
                            </td>

                        </tr>


                    </table>
                </div>
            </div>

            <div class="no-data-section" ng-if="sortedarray.length==0">
                Group table is not available !
            </div>




        </div>



    </ion-content>
</ion-view>
