<ion-side-menus enable-menu-with-back-views="true">

    <ion-side-menu-content>



        <ion-nav-bar class="bar-stable fcb-nav-header" ng-class="{'fcb-login-header': !$root.showtabs}">


            <!--<ion-nav-back-button>
            </ion-nav-back-button>-->

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear" menu-toggle="left" ng-if="$root.showtabs">
                    <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" class="menu-button-icon">
                        <path class="st0" d="m83.9 95.9h-67.9c-6.6 0-12-5.4-12-12v-68.9c0-6.6 5.4-12 12-12h67.9c6.6 0 12 5.4 12 12v68.9c0 6.6-5.4 12-12 12z" />
                        <path class="st1" d="m95.2 27.8h-90.6c-0.3 0-0.6-0.3-0.6-0.6v-1.7c0-0.3 0.3-0.6 0.6-0.6h90.6c0.3 0 0.6 0.3 0.6 0.6v1.7c0 0.3-0.2 0.6-0.6 0.6z" />
                        <path class="st1" d="m66.5 51.1h-61.9c-0.3 0-0.6-0.3-0.6-0.6v-1.7c0-0.3 0.3-0.6 0.6-0.6h61.9c0.3 0 0.6 0.3 0.6 0.6v1.7c0 0.3-0.2 0.6-0.6 0.6z" />
                        <path class="st1" d="m95.2 74.4h-90.6c-0.3 0-0.6-0.3-0.6-0.6v-1.7c0-0.3 0.3-0.6 0.6-0.6h90.6c0.3 0 0.6 0.3 0.6 0.6v1.7c0 0.4-0.2 0.6-0.6 0.6z" />
                    </svg>
                </button>
            </ion-nav-buttons>


            <ion-nav-buttons side="right">
                <a class="button button-icon button-clear" href="#/app/login" ng-if="$root.isloggedin">
                    <!---->
                    Login
                </a>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>

        <div ng-if="$root.showtabs" class="tabs tabs-icon-bottom tabs-main-wrapper hide-on-keyboard-open">

            <a class="tab-item" href="#/app/fixturescategories" ng-class="{'tab-active':activetab == 'fixturescategories'}">
                <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <rect class="st0" x="147.6" y="47.9" width=".4" height="0" />
                    <path class="tab-icon-border" d="m83.8 4.6h-67.6c-6.7 0-12.1 5.4-12.1 12.1v68.7c0 6.7 5.5 12.1 12.1 12.1h67.6c6.7 0 12.1-5.5 12.1-12.1v-68.7c0-6.7-5.4-12.1-12.1-12.1zm7.9 76.6c0 6.7-5.5 12.1-12.1 12.1h-59.2c-6.7 0-12.1-5.5-12.1-12.1v-48h83.5v48z" />
                    <path class="tab-icon-bg" d="m92.7 33.6v-1.9h-16.5v-3.8c0-2.1-1.8-3.9-3.9-3.9h-0.9c-2.1 0-3.9 1.8-3.9 3.9v3.8h-33.4v-3.8c0-2.1-1.8-3.9-3.9-3.9h-0.9c-2.1 0-3.9 1.8-3.9 3.9v3.8h-18.5c-0.1 0.4-0.1 0.8-0.1 1.4l0.1 48.6c0 5.8 4.8 10.2 11.5 10.2h63.1c6.7 0 11.4-4.6 11.4-10.4l-0.2-47.9z" />
                    <path class="tab-icon-border" d="m71.9 37.6c-1.7 0-3.1-1.4-3.1-3.1v-6c0-1.7 1.4-3.1 3.1-3.1s3.1 1.4 3.1 3.1v6c0 1.7-1.4 3.1-3.1 3.1z" />
                    <path class="tab-icon-border" d="m29.8 37.6c-1.7 0-3.1-1.4-3.1-3.1v-6c0-1.7 1.4-3.1 3.1-3.1s3.1 1.4 3.1 3.1v6c0 1.7-1.4 3.1-3.1 3.1z" />
                    <path class="tab-icon-border" d="m49.3 42.5h2.4c0.3 0 0.6 0.1 0.9 0.1 4.4 0.5 8.2 2.1 11.5 5 3.6 3.2 5.9 7.2 6.8 12l0.3 2.4v2.4c0 0.3-0.1 0.6-0.1 0.9-0.5 4.4-2.2 8.4-5.2 11.7-3.2 3.6-7.2 5.8-11.9 6.6l-2.4 0.3h-2.4c-0.3 0-0.6-0.1-0.9-0.1-4.4-0.5-8.2-2.1-11.5-5-3.6-3.2-5.9-7.2-6.8-12l-0.3-2.4v-2.4c0-0.3 0.1-0.6 0.1-0.9 0.5-4.4 2.2-8.4 5.2-11.7 3.2-3.6 7.2-5.8 11.9-6.6l2.4-0.3zm8.5 20.8v3.6c0 0.3 0.1 0.4 0.3 0.6 1.5 1.1 3 2.2 4.6 3.3 0.1 0.1 0.4 0.1 0.5 0.1 1.5-0.5 3-1 4.5-1.4 0.2-0.1 0.3-0.2 0.4-0.4 1.2-3.8 1.2-7.6 0.1-11.4-0.1-0.3-0.2-0.4-0.5-0.5-1.5-0.5-2.9-0.9-4.4-1.4-0.3-0.1-0.4 0-0.7 0.1-1.5 1.1-3 2.2-4.6 3.3-0.2 0.1-0.3 0.3-0.3 0.6 0.1 1.1 0.1 2.3 0.1 3.5zm3.8-12.2s0.1 0 0 0v-2.3c0-0.2-0.1-0.4-0.2-0.5-3.3-2.4-6.9-3.6-10.9-3.6-0.2 0-0.4 0.1-0.5 0.3-0.9 1.2-1.8 2.5-2.7 3.8-0.1 0.1-0.1 0.4-0.1 0.5 0.6 1.8 1.1 3.5 1.7 5.3 0.1 0.2 0.2 0.4 0.4 0.4 2.3 0.8 4.7 1.5 7.1 2.3 0.3 0.1 0.4 0 0.6-0.1 1.5-1.1 3-2.2 4.4-3.2 0.2-0.1 0.3-0.3 0.3-0.5-0.1-0.8-0.1-1.6-0.1-2.4zm-0.1 24.3v-2.3c0-0.3-0.1-0.4-0.3-0.6-1.5-1.1-3-2.2-4.6-3.3-0.1-0.1-0.4-0.1-0.5-0.1-2.3 0.7-4.6 1.5-6.9 2.2-0.2 0.1-0.4 0.2-0.4 0.4-0.6 1.8-1.1 3.5-1.7 5.3-0.1 0.2-0.1 0.4 0.1 0.6 0.9 1.2 1.8 2.4 2.6 3.6 0.2 0.2 0.3 0.3 0.6 0.3 4 0 7.6-1.2 10.9-3.5 0.1-0.1 0.2-0.3 0.2-0.4v-2.2zm-22.6-13.3h2.7c0.2 0 0.4-0.1 0.5-0.2 1.5-2.1 3-4.1 4.5-6.2 0.1-0.1 0.1-0.4 0.1-0.5-0.5-1.7-1.1-3.4-1.7-5.1 0-0.1-0.2-0.3-0.4-0.4-1.5-0.5-2.9-1-4.4-1.4-0.2 0-0.4 0-0.5 0.1-3.3 2.4-5.5 5.5-6.8 9.4-0.1 0.2 0 0.4 0.1 0.5 0.9 1.2 1.8 2.5 2.6 3.7 0.2 0.2 0.3 0.3 0.6 0.3 0.9-0.2 1.8-0.2 2.7-0.2zm0 2.3h-2.7c-0.2 0-0.4 0.1-0.5 0.2-0.9 1.2-1.8 2.4-2.7 3.7-0.1 0.1-0.1 0.3-0.1 0.5 1.3 3.9 3.5 7 6.8 9.4 0.1 0.1 0.4 0.1 0.5 0.1 1.4-0.5 2.9-0.9 4.3-1.4 0.1 0 0.3-0.2 0.4-0.4 0.6-1.7 1.2-3.5 1.7-5.3 0-0.1 0-0.4-0.1-0.5-1.5-2.1-3-4.1-4.5-6.1-0.1-0.1-0.3-0.2-0.5-0.2-0.8-0.1-1.7 0-2.6 0z" />
                </svg>Fixtures</a>

            <a class="tab-item" href="#/app/timeline" ng-class="{'tab-active':activetab == 'timeline'}">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                    <path class="tab-icon-bg" d="M80.1,91.9H20.2c-6.6,0-12-5.4-12-12V20.1c0-6.6,5.4-12,12-12h59.9c6.6,0,12,5.4,12,12v59.9
	C92.1,86.5,86.7,91.9,80.1,91.9z" />
                    <path class="tab-icon-border" d="M91.9,20.1c0-6.6-5.4-12-12-12H20.1c-6.6,0-12,5.4-12,12v59.9
	c0,6.6,5.4,12,12,12h59.9c6.6,0,12-5.4,12-12V20.1z M85.9,79.9c0,3.3-2.7,6-6,6H20.1c-3.3,0-6-2.7-6-6V20.1c0-3.3,2.7-6,6-6h59.9
	c3.3,0,6,2.7,6,6V79.9z" />
                    <path class="tab-icon-border" d="M22.5,51.5H50c1.7,0,3-1.3,3-3V26c0-1.7-1.3-3-3-3H22.5c-1.7,0-3,1.3-3,3v22.5C19.5,50.2,20.8,51.5,22.5,51.5z M25.5,29H47
	v16.5H25.5V29z" />
                    <path class="tab-icon-border" d="M77.5,28.3h-16c-1.7,0-3,1.3-3,3s1.3,3,3,3h16c1.7,0,3-1.3,3-3S79.2,28.3,77.5,28.3z" />
                    <path class="tab-icon-border" d="M77.5,40.1h-16c-1.7,0-3,1.3-3,3s1.3,3,3,3h16c1.7,0,3-1.3,3-3S79.2,40.1,77.5,40.1z" />
                    <path class="tab-icon-border" d="M77.5,60h-55c-1.7,0-3,1.2-3,2.7s1.3,2.7,3,2.7h55c1.7,0,3-1.2,3-2.7S79.2,60,77.5,60z" />
                    <path class="tab-icon-border" d="M77.5,72.3h-55c-1.7,0-3,1.2-3,2.7c0,1.5,1.3,2.7,3,2.7h55c1.7,0,3-1.2,3-2.7C80.5,73.5,79.2,72.3,77.5,72.3z" />
                </svg>
                Timeline</a>

            <a class="tab-item" href="#/app/categories" ng-class="{'tab-active':activetab == 'categories'}">
                <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <path class="tab-icon-bg" d="m81.7 94.1h-63.7c-6.6 0-12-5.4-12-12v-64.6c0-6.6 5.4-12 12-12h63.7c6.6 0 12 5.4 12 12v64.6c0 6.6-5.4 12-12 12z" />
                    <path class="tab-icon-border" d="m32.6 67.8c0 1-0.4 1.9-1.2 2.6s-1.8 1.1-2.9 1.1c-1.2 0-2.1-0.4-2.9-1.1s-1.2-1.6-1.2-2.6v-23.3l-3.4 3.3c-0.8 0.7-1.7 1.1-2.9 1.1s-2.1-0.4-2.9-1.1-1.2-1.6-1.2-2.6 0.4-1.9 1.2-2.6l10.5-9.6c0.8-0.7 1.8-1.1 2.9-1.1s2.1 0.4 2.9 1.1 1.2 1.6 1.2 2.6v32.2h-0.1z" />
                    <path class="tab-icon-border" d="m49.3 45.8c-0.6 0.4-1.3 0.4-2.1 0.4-0.7-0.2-1.3-0.5-1.8-1.1-0.4-0.6-0.5-1.3-0.4-1.9 0.4-2.1 1.5-3.8 3.1-5.1 1.7-1.4 3.7-2.1 5.9-2.1h0.1c2.6 0 4.8 1 6.6 2.9 1.7 1.8 2.6 3.9 2.6 6.4v0.1c0 2.2-0.8 4.1-2.4 5.8-1 1-2.7 2.2-5.2 3.8-2.3 1.3-3.8 2.4-4.5 3.3h9.8c0.8 0 1.4 0.3 2 0.7 0.5 0.5 0.8 1.1 0.8 1.8s-0.3 1.3-0.8 1.8c-0.5 0.4-1.3 0.7-2 0.7h-13.5c-0.8 0-1.4-0.3-2-0.7-0.5-0.5-0.8-1.1-0.8-1.8 0-2.4 0.8-4.5 2.5-6.2 1-1.1 2.8-2.3 5.4-3.9 1.7-1 2.9-1.8 3.5-2.4 1.1-1 1.6-2 1.6-3 0-1.3-0.4-2.3-1.2-3.1-0.7-0.7-1.5-1.1-2.4-1.1-0.7 0-1.4 0.3-2.1 0.8-0.7 0.6-1.2 1.4-1.4 2.4-0.3 0.6-0.7 1.1-1.3 1.5z" />
                    <path class="tab-icon-border" d="m74.3 46.3c-0.5 0.2-1 0.2-1.5 0s-0.9-0.5-1.1-1c-0.3-0.4-0.3-0.9 0-1.3 0.4-1 1.1-1.8 2-2.3 0.9-0.6 2-0.9 3-0.9 1.5 0 2.9 0.5 3.9 1.6 1 1 1.5 2.2 1.5 3.7 0 0.6-0.2 1.3-0.5 1.9-0.4 0.6-0.6 1.1-1.1 1.3 0.7 0.4 1.3 1.1 1.8 2s0.8 1.8 0.8 2.7c0 1.7-0.6 3.1-1.8 4.4-1.3 1.3-2.9 1.9-4.7 1.9-1.5 0-2.9-0.4-4-1.4-1.2-0.9-1.9-2.1-2.2-3.4-0.1-0.4 0-0.9 0.3-1.3s0.7-0.7 1.3-0.8 1.1 0 1.5 0.3 0.7 0.6 0.9 1.2 0.4 1.1 1 1.5c0.4 0.4 0.9 0.5 1.4 0.5 0.6 0 1.2-0.3 1.7-0.7 0.5-0.5 0.8-1.2 0.8-2s-0.3-1.4-0.8-2c-0.4-0.4-1.1-0.7-1.7-0.7-0.5 0-1-0.2-1.4-0.5-0.4-0.4-0.6-0.8-0.6-1.3s0.2-0.9 0.6-1.3 0.9-0.5 1.4-0.5c0.4 0 0.6-0.2 1-0.4 0.4-0.4 0.5-0.7 0.5-1.3 0-0.5-0.2-0.9-0.5-1.3-0.3-0.3-0.6-0.4-1-0.4-0.3 0-0.4 0.1-0.7 0.2-0.3 0.2-0.4 0.4-0.5 0.7-0.5 0.4-0.8 0.7-1.3 0.9z" />
                    <path class="tab-icon-border" d="m96.4 16.9c0-7.5-6-13.4-13.2-13.4h-66.3c-7.3 0-13.2 6-13.2 13.4v67.1c0 7.5 6 13.4 13.2 13.4h66.3c7.4 0 13.2-6 13.2-13.4v-67.1zm-6.6 67.1c0 3.7-2.9 6.8-6.7 6.8h-66.2c-3.6 0-6.7-3-6.7-6.8v-67.1c0-3.7 2.9-6.8 6.7-6.8h66.3c3.6 0 6.7 3 6.7 6.8l-0.1 67.1z" fill="#010101" />
                </svg>Rankings</a>

            <a class="tab-item" href="#/app/album" ng-class="{'tab-active':activetab == 'album'}">
                <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <path class="tab-icon-bg" d="m72.2 89.9-48.3-8.7c-6.5-1.2-10.9-7.4-9.7-13.9l5.2-29.1c1.2-6.5 7.4-10.9 13.9-9.7l48.3 8.7c6.5 1.2 10.9 7.4 9.7 13.9l-5.2 29.1c-1.1 6.5-7.4 10.9-13.9 9.7z" fill="#FCFCFC" />
                    <path class="tab-icon-bg" d="m76.9 67.1-51.7 5.2c-6.6 0.7-12.5-4.2-13.1-10.7l-3-30c-0.8-6.6 4-12.5 10.6-13.2l51.7-5.2c6.6-0.6 12.5 4.2 13.2 10.8l3 30c0.7 6.5-4.2 12.4-10.7 13.1z" fill="#FCFCFC" />
                    <path class="tab-icon-border" d="m85.5 76.5-2.5-3.5c-1.6-2.3-4.1-3.4-6.7-3.4-1.6 0-3.2 0.5-4.7 1.4-1 0.7-2 0.9-3.1 0.9-1.7 0-3.3-0.8-4.4-2.3l-14.5-20.4c-1.6-2.3-4.1-3.4-6.7-3.4-1.6 0-3.2 0.5-4.7 1.4l-18.1 12.7c-0.2 0.1-0.4 0.2-0.7 0.3-0.4 0.3-0.9 0.5-1.4 0.6-0.2 0.2-0.4 0.4-0.7 0.5-0.1 0.1-0.2 0.1-0.2 0.2-0.3 0.2-0.7 0.4-1.1 0.5-0.5 0.4-1.1 0.6-1.8 0.8-0.6 0.4-1.4 0.6-2.1 0.6v1s0.1 0 0.1 0.1c0.5 0.3 0.8 0.7 1.2 1 0.3 0 0.7 0.1 1 0.1 0.7 0.2 1.4 0.5 1.9 1h0.6c0.3 0 0.7 0 1 0.1h-0.1l0.1-0.5 20.7-14.3c1-0.7 2-0.9 3.1-0.9 1.7 0 3.3 0.8 4.4 2.3l14.5 20.5c1.6 2.3 4.1 3.4 6.7 3.4 1.6 0 3.2-0.5 4.7-1.4 1-0.7 2-0.9 3.1-0.9 1.7 0 3.3 0.8 4.4 2.3l4.3 6.1c0.3-1.1 0.8-2.1 1-3.3 0.2-1.5 0.4-2.5 0.7-3.5z" />
                    <path class="tab-icon-border" d="m74 43.3c-0.5-0.1-0.8-0.1-1.3-0.1-3.6 0-6.8 2.5-7.4 6.2-0.1 0.5-0.1 0.8-0.1 1.3 0 3.6 2.5 6.8 6.2 7.4 0.5 0.1 0.8 0.1 1.3 0.1 3.6 0 6.8-2.5 7.4-6.2 0.1-0.5 0.1-0.8 0.1-1.3 0-3.5-2.5-6.8-6.2-7.4zm-1.3 12.1c-0.3 0-0.6 0-0.8-0.1-2.3-0.3-3.9-2.3-3.9-4.6 0-0.3 0-0.6 0.1-0.8 0.4-2.3 2.4-3.9 4.6-3.9 0.3 0 0.6 0 0.8 0.1 2.3 0.4 3.9 2.4 3.9 4.6 0 0.3 0 0.6-0.1 0.8-0.4 2.3-2.3 3.9-4.6 3.9z" fill="#010101" />
                    <path class="tab-icon-border" d="M95.4,45.8c0.8-4.6-3.5-9.1-9.6-10.2l-55.1-9.7c-6.1-1.1-11.7,1.8-12.5,6.3L11,73.4  c-0.8,4.6,3.5,9.1,9.6,10.2l55.1,9.7c6.1,1.1,11.7-1.8,12.5-6.3L95.4,45.8z M82.7,86c-0.4,2.3-3.2,3.7-6.3,3.2l-55.1-9.7  c-3-0.5-5.2-2.8-4.8-5.1l7.3-41.1c0.4-2.3,3.2-3.7,6.3-3.2l55.1,9.7c3,0.5,5.2,2.8,4.8,5.1L82.7,86z" fill="#010101" />
                    <path class="tab-icon-border" d="m87.4 17.9c-0.6-4.9-6.4-8.1-12.9-7.2l-59 7.7c-6.5 0.8-11.3 5.4-10.7 10.3l5.7 44.1c0.1 1.1 0.6 2.2 1.2 3.1-0.3-1.8 0.4-3.6 1.8-4.6 0-0.8 0-1.6 0.2-2.4l1.3-7.2-4.4-33.8c-0.3-2.4 2-4.8 5.4-5.2l59-7.7c3.2-0.4 6.2 1.2 6.5 3.7l2.6 19.8c2.7 0.6 5 2.2 6.5 4.3l-3.2-24.9z" fill="#010101" />
                </svg>Album</a>
        </div>

    </ion-side-menu-content>

    <ion-side-menu side="left">


        <ion-content class="menu-content">

            <div class="menu-header">
                <div class="fcb-stripe"></div>

                <div class="default-image">
                    <div class="pic-wrapper">
                        <img class="menu-profile-pic" err-src="img/fcb_default_profile.svg" src="img/square-thumb.png" style="background-image: url({{fcbuserdata.facebook_profile_photo}})" />
                    </div>
                    <p class="menu-profile-name"> {{fcbuserdata.name}}</p>
                </div>

            </div>

            <ion-list class="menu-list">
                <ion-item menu-close href="#/app/fixturescategories" class="menu-list-item">
                    <svg enable-background="new 0 0 200 200" version="1.1" viewBox="0 0 200 200" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <path d="m169.9 190.7h-139.8c-9.7 0-17.6-7.9-17.6-17.6v-140.5c0-9.7 7.9-17.6 17.6-17.6h139.7c9.7 0 17.6 7.9 17.6 17.6v140.4c0.1 9.8-7.8 17.7-17.5 17.7z" fill="none" stroke="#00000" stroke-miterlimit="10" stroke-width="4" />
                        <line x1="100" x2="100" y1="15" y2="190.7" fill="none" stroke="#00000" stroke-miterlimit="10" stroke-width="3" />
                        <circle cx="100.4" cy="102.8" r="27.6" fill="none" stroke="#00000" stroke-miterlimit="10" stroke-width="3" />
                        <polyline points="12.5 75.3 37.5 75.3 37.5 130.4 12.5 130.4" fill="none" stroke="#00000" stroke-miterlimit="10" stroke-width="3" />
                        <polyline points="187.5 75.3 162.5 75.3 162.5 130.4 187.5 130.4" fill="none" stroke="#00000" stroke-miterlimit="10" stroke-width="3" />
                    </svg>Fixtures
                </ion-item>
                <ion-item menu-close href="#/app/timeline" class="menu-list-item">
                    <svg enable-background="new 0 0 200 200" version="1.1" viewBox="0 0 200 200" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <style type="text/css">
                            .st0 {
                                fill: none;
                                stroke: #000000;
                                stroke-width: 3;
                                stroke-miterlimit: 10;
                            }
                            
                            .st1 {
                                fill: none;
                                stroke: #000000;
                                stroke-width: 4;
                                stroke-miterlimit: 10;
                            }
                        </style>
                        <path class="st0" d="m176.7 186.1h-153.4c-9.5 0-17.3-8.1-17.3-18.1v-142.4c0-9.9 7.8-18.1 17.3-18.1h153.4c9.5 0 17.3 8.1 17.3 18.1v142.4c0 10-7.8 18.1-17.3 18.1z" />
                        <path class="st0" d="m97.1 83.4h-68.5c-1.8 0-3.2-1.7-3.2-3.8v-39c0-2.1 1.5-3.8 3.2-3.8h68.5c1.8 0 3.2 1.7 3.2 3.8v39c0 2-1.4 3.8-3.2 3.8z" />
                        <line class="st1" x1="113.2" x2="171.6" y1="61.5" y2="61.5" />
                        <line class="st1" x1="113.2" x2="171.6" y1="39.3" y2="39.3" />
                        <line class="st1" x1="113.2" x2="171.6" y1="83.8" y2="83.8" />
                        <line class="st1" x1="24.2" x2="170.5" y1="150.4" y2="150.4" />
                        <line class="st1" x1="24.2" x2="170.5" y1="128.2" y2="128.2" />
                        <line class="st1" x1="24.2" x2="170.5" y1="106" y2="106" />
                    </svg>Timeline
                </ion-item>
                <ion-item menu-close href="#/app/categories" class="menu-list-item">
                    <svg enable-background="new 204 -204.5 508.5 508.5" version="1.1" viewBox="204 -204.5 508.5 508.5" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <path d="m678 280.3h-434c-6.6 0-12-5.4-12-12v-428.7c0-6.6 5.4-12 12-12h434c6.6 0 12 5.4 12 12v428.7c0 6.6-5.4 12-12 12z" fill="none" stroke="#0C090C" stroke-miterlimit="10" stroke-width="10" />
                        <path d="m369.1 155.9c-1.2 1.1-2.7 1.6-4.5 1.6s-3.3-0.5-4.5-1.6c-1.3-1.2-1.9-2.6-1.9-4.2v-189.8l-55.2 50.8c-1.3 1.1-2.8 1.6-4.6 1.6-1.7 0-3.2-0.5-4.5-1.6s-1.9-2.4-1.9-4 0.6-3 1.8-4.2l66.2-60.7c1.3-1.2 2.8-1.8 4.6-1.8s3.3 0.6 4.5 1.8c1.3 1.1 1.9 2.4 1.9 4v203.9c0 1.6-0.6 3-1.9 4.2z" />
                        <path d="m437.2 23.5c-1 0.5-2 0.7-3.1 0.5-1.2-0.2-2.1-0.7-2.7-1.7-0.6-0.9-0.8-1.8-0.6-2.8 2.4-9.9 7.5-18.1 15.2-24.5 7.8-6.4 16.8-9.6 27-9.6 12 0.1 22.2 4.5 30.5 13.3 8.3 8.7 12.4 19.2 12.4 31.6-0.1 10.8-4.3 20.3-12.6 28.5-5 5-14.2 11.4-27.5 19.2-11.8 7-20 12.6-24.7 16.8-7.7 7.1-12 14.9-12.9 23.6h76.8c1.2 0 2.2 0.4 3 1.1 0.8 0.8 1.2 1.7 1.2 2.7s-0.4 1.9-1.2 2.7c-0.8 0.7-1.8 1.1-3 1.1h-81.2c-1.2 0-2.2-0.4-3-1.1-0.8-0.8-1.3-1.7-1.3-2.7 0-11.5 4.4-21.7 13.1-30.5 5.2-5.2 14.7-11.9 28.5-20 12.1-7.1 20.4-12.9 25-17.2 7.5-7.3 11.3-15.4 11.4-24.3 0-10.4-3.4-19.3-10.3-26.5-6.8-7.1-14.8-10.6-24.2-10.7-8 0-15.2 2.6-21.4 7.7-6.4 5.2-10.6 12-12.6 20.4-0.2 1-0.8 1.8-1.8 2.4z" />
                        <path d="m587.3 50.8c-0.4-0.4-0.7-0.9-0.7-1.4s0.2-1 0.6-1.4 1-0.6 1.6-0.6c3.5 0 6.6-1.3 9.1-3.9 2.6-2.6 3.9-5.8 3.9-9.5s-1.3-6.9-3.9-9.5c-2.5-2.5-5.6-3.8-9.2-3.8-2.6 0-4.9 0.7-7.1 2.1-2.2 1.5-3.8 3.4-4.9 5.9-0.2 0.5-0.6 0.9-1.1 1.1-0.6 0.2-1.2 0.2-1.7 0-0.6-0.2-1-0.5-1.2-1-0.3-0.5-0.3-1-0.1-1.5 1.3-3.2 3.5-5.7 6.4-7.6 3-2 6.2-2.9 9.7-2.9 4.9 0 9 1.7 12.5 5.2 3.4 3.4 5.1 7.4 5.1 12.2 0 4.7-1.7 8.8-5.1 12.2-1.1 1.2-2.4 2.1-3.8 2.9 2.7 1.1 5.1 2.7 7.1 4.8 4.3 4.3 6.4 9.4 6.4 15.4s-2.1 11.2-6.4 15.5c-4.4 4.3-9.6 6.5-15.8 6.5-5.1 0-9.7-1.6-13.8-4.7-4-3.1-6.6-7.1-7.8-12-0.1-0.5 0-1 0.3-1.5 0.3-0.4 0.8-0.7 1.4-0.9 0.6-0.1 1.1 0 1.6 0.3s0.8 0.7 1 1.3c1 4 3.1 7.3 6.4 9.8 3.2 2.5 6.8 3.7 10.8 3.7 4.8 0 9-1.7 12.4-5.2 3.5-3.5 5.3-7.8 5.3-12.8s-1.8-9.2-5.3-12.8c-3.4-3.4-7.6-5.2-12.4-5.2-0.3-0.1-0.8-0.3-1.3-0.7z" />
                    </svg>Points Table
                </ion-item>
                <ion-item menu-close href="#/app/album" class="menu-list-item">
                    <svg enable-background="new 0 0 200 200" version="1.1" viewBox="0 0 200 200" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <path d="m103.4 158.7c-5.5-0.1-10.8-2.1-15-5.6l-27.8-24.4c-4.4-4.1-11-4.4-15.8-0.8l-39.5 29v18.8c-0.3 5 3.6 9.4 8.7 9.7h0.8 139.8c5.6 0 11.2-4.1 11.2-9.7v-49.4l-50.2 29c-3.8 2.3-8 3.4-12.2 3.4z" fill="none" stroke="#00000" stroke-miterlimit="10" stroke-width="3" />
                        <path d="m192.2 41.8c-1.6-2.2-4.1-3.6-6.9-3.8l-138.7-16c-2.7-0.2-5.4 0.5-7.6 2.1-2 1.7-3.3 4.1-3.8 6.6l-2.3 19.9h121.7c11.6 0.3 21 9.5 21.4 21.2v89.9c0-0.5 2.3-1 3.3-2.1 2.1-1.7 3.4-4.2 3.3-6.9l12-103.4c0.2-2.8-0.7-5.5-2.4-7.5z" fill="none" stroke="#00000" stroke-miterlimit="10" stroke-width="3" />
                        <path d="m154.5 60.7h-139.8c-5.6 0-9.4 5.4-9.4 10.9v72.6l33.6-24.5c8.6-6.3 20.3-5.8 28.2 1.3l28 24.5c4.2 3.6 10.3 4.1 15 1.3l55.5-32.4v-42.8c-0.3-6-5.1-10.7-11.1-10.9zm-53.2 58.7c-11.8 0-21.4-9.6-21.4-21.4s9.6-21.4 21.4-21.4 21.4 9.6 21.4 21.4-9.6 21.4-21.4 21.4z" fill="none" stroke="#00000" stroke-miterlimit="10" stroke-width="3" />
                    </svg>Gallery
                </ion-item>
                <ion-item menu-close href="#/app/following" class="menu-list-item">
                    <svg enable-background="new 0 0 512 512" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <path d="m497 80.333h-65.334v-65.333c0-8.284-6.716-15-15-15s-15 6.716-15 15v65.333h-65.332c-8.284 0-15 6.716-15 15s6.716 15 15 15h65.332v65.334c0 8.284 6.716 15 15 15s15-6.716 15-15v-65.334h65.334c8.284 0 15-6.716 15-15s-6.716-15-15-15z" />
                        <path d="m175.67 321.33c-96.862 0-175.67 78.804-175.67 175.67 0 8.284 6.716 15 15 15h321.33c8.284 0 15-6.716 15-15 0-96.862-78.805-175.67-175.67-175.67z" />
                        <path d="m175.67 64.267c-52.566 0-95.332 42.767-95.332 95.334s42.766 95.333 95.332 95.333c52.567 0 95.334-42.766 95.334-95.333s-42.767-95.334-95.334-95.334z" />
                    </svg> Following
                </ion-item>

                <ion-item menu-close href="#/app/teams" class="menu-list-item">
                    <svg class="svg-stroke" enable-background="new 0 0 480 480" version="1.1" viewBox="0 0 480 480" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <path d="m277.65 97.336c11.24-10.248 18.352-24.96 18.352-41.336 0-30.872-25.12-56-56-56s-56 25.128-56 56c0 16.376 7.112 31.088 18.352 41.336-33.192 6.4-58.352 35.632-58.352 70.664v32c0 4.424 3.584 8 8 8h176c4.416 0 8-3.576 8-8v-32c0-35.032-25.16-64.264-58.352-70.664zm-77.648-41.336c0-22.056 17.944-40 40-40s40 17.944 40 40-17.944 40-40 40-40-17.944-40-40zm120 136h-160v-24c0-30.872 25.12-56 56-56h48c30.88 0 56 25.128 56 56v24z" />
                        <path d="m133.65 369.34c11.24-10.248 18.352-24.96 18.352-41.336 0-30.872-25.12-56-56-56s-56 25.128-56 56c0 16.376 7.112 31.088 18.352 41.336-33.192 6.4-58.352 35.632-58.352 70.664v32c0 4.424 3.584 8 8 8h176c4.416 0 8-3.576 8-8v-32c0-35.032-25.16-64.264-58.352-70.664zm-77.648-41.336c0-22.056 17.944-40 40-40s40 17.944 40 40-17.944 40-40 40-40-17.944-40-40zm120 136h-160v-24c0-30.872 25.12-56 56-56h48c30.88 0 56 25.128 56 56v24z" />
                        <path d="m421.65 369.34c11.24-10.248 18.352-24.96 18.352-41.336 0-30.872-25.12-56-56-56s-56 25.128-56 56c0 16.376 7.112 31.088 18.352 41.336-33.192 6.4-58.352 35.632-58.352 70.664v32c0 4.424 3.584 8 8 8h176c4.416 0 8-3.576 8-8v-32c0-35.032-25.16-64.264-58.352-70.664zm-77.648-41.336c0-22.056 17.944-40 40-40s40 17.944 40 40-17.944 40-40 40-40-17.944-40-40zm120 136h-160v-24c0-30.872 25.12-56 56-56h48c30.88 0 56 25.128 56 56v24z" />
                        <path d="m48.152 255.74-15.984 0.624c0.216 5.512 0.656 11.096 1.312 16.584l15.888-1.904c-0.608-5.064-1.016-10.216-1.216-15.304z" />
                        <path d="m33.472 223.18c-0.648 5.456-1.096 11.032-1.304 16.576l15.984 0.624c0.2-5.12 0.608-10.264 1.208-15.312l-15.888-1.888z" />
                        <path d="m113.91 82.544c-4.376 3.336-8.688 6.904-12.824 10.616l10.696 11.904c3.808-3.424 7.784-6.72 11.824-9.792l-9.696-12.728z" />
                        <path d="m51.736 159.44c-2.352 5-4.528 10.152-6.48 15.344l14.976 5.624c1.8-4.784 3.808-9.536 5.976-14.136l-14.472-6.832z" />
                        <path d="m40.024 190.58c-1.52 5.288-2.84 10.736-3.936 16.16l15.688 3.16c1.008-5 2.224-10.024 3.632-14.912l-15.384-4.408z" />
                        <path d="m89.176 104.78c-3.832 4.032-7.512 8.232-10.968 12.496l12.44 10.064c3.184-3.936 6.592-7.824 10.128-11.544l-11.6-11.016z" />
                        <path d="m141.86 64.568c-4.84 2.584-9.664 5.424-14.352 8.44l8.672 13.456c4.32-2.792 8.768-5.408 13.216-7.784l-7.536-14.112z" />
                        <path d="m68.272 130.6c-3.128 4.568-6.104 9.304-8.848 14.096l13.88 7.952c2.528-4.416 5.28-8.792 8.168-13l-13.2-9.048z" />
                        <path d="m202.1 436.26-3.16 15.688c5.384 1.088 10.92 1.96 16.448 2.608l1.856-15.888c-5.08-0.6-10.184-1.408-15.144-2.408z" />
                        <path d="m278.41 436.16c-4.968 1.008-10.064 1.832-15.168 2.456l1.928 15.888c5.52-0.672 11.04-1.568 16.416-2.656l-3.176-15.688z" />
                        <path d="m247.94 439.84c-5.112 0.2-10.28 0.224-15.36 0.024l-0.632 15.984c2.664 0.112 5.352 0.16 8.072 0.16 2.864-0.016 5.72-0.072 8.56-0.184l-0.64-15.984z" />
                        <path d="m378.94 93.224-10.688 11.904c3.808 3.424 7.504 7.024 11 10.704l11.616-11c-3.792-4-7.8-7.904-11.928-11.608z" />
                        <path d="m401.82 117.32-12.44 10.064c3.192 3.944 6.28 8.096 9.176 12.32l13.192-9.048c-3.136-4.568-6.472-9.056-9.928-13.336z" />
                        <path d="m447.83 239.78-15.984 0.624c0.104 2.52 0.152 5.064 0.152 7.6 0 2.6-0.048 5.184-0.152 7.768l15.984 0.624c0.112-2.784 0.168-5.584 0.168-8.408 0-2.744-0.056-5.488-0.168-8.208z" />
                        <path d="m420.61 144.74-13.888 7.96c2.536 4.424 4.92 9.008 7.096 13.616l14.472-6.832c-2.352-4.992-4.936-9.952-7.68-14.744z" />
                        <path d="m434.76 174.82-14.976 5.632c1.792 4.768 3.408 9.672 4.816 14.568l15.384-4.408c-1.52-5.312-3.28-10.624-5.224-15.792z" />
                        <path d="m443.9 206.78-15.68 3.152c1.008 5.008 1.824 10.112 2.416 15.168l15.888-1.888c-0.648-5.472-1.528-11-2.624-16.432z" />
                        <path d="m352.54 73.04-8.664 13.456c4.272 2.752 8.496 5.72 12.568 8.832l9.712-12.728c-4.408-3.368-8.984-6.576-13.616-9.56z" />
                        <path d="m323.23 57.328-6.408 14.656c4.664 2.04 9.304 4.296 13.808 6.712l7.568-14.096c-4.872-2.624-9.912-5.072-14.968-7.272z" />
                    </svg>Teams
                </ion-item>


                <ion-item menu-close href="#/app/rules" class="menu-list-item">
                    <svg class="rules-svg" enable-background="new 0 0 396.374 396.374" version="1.1" viewBox="0 0 396.37 396.37" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <polygon points="287.97 61.707 287.97 61.704 287.97 61.627" />
                        <path d="m342.29 7.627h-240c-29.849 0.044-54.036 24.231-54.08 54.08v219.2c-29.691 3.242-51.132 29.94-47.89 59.631 3.004 27.512 26.294 48.316 53.97 48.209h195.52c29.849-0.044 54.036-24.231 54.08-54.08v-218.88h38.4c29.868 0 54.08-24.212 54.08-54.08s-24.213-54.08-54.08-54.08zm-130.8 365.12h-157.2c-21.053 0-38.12-17.067-38.12-38.12s17.067-38.12 38.12-38.12h157.2c-21.004 21.073-21.004 55.166 0 76.24zm76.48-311.04v272.96c0 21.031-17.049 38.08-38.08 38.08s-38.08-17.049-38.08-38.08 17.049-38.08 38.08-38.08c4.418 0 8-3.582 8-8s-3.582-8-8-8h-185.36v-218.88c0.043-20.889 16.872-37.861 37.76-38.08h201.36c-10.059 10.118-15.697 23.81-15.68 38.077zm46.32 38.083h-30.32v-13.12h30.32v13.12zm16-0.8v-20.32c0-4.418-3.582-8-8-8h-38.32v-8.96c0.056-21.031 17.151-38.034 38.182-37.978s38.034 17.151 37.978 38.182c-0.048 17.818-12.445 33.22-29.84 37.076z" />
                        <path d="m233.41 86.987h-117.04c-4.418 0-8 3.582-8 8s3.582 8 8 8h117.04c4.418 0 8-3.582 8-8s-3.582-8-8-8z" />
                        <path d="m233.41 144.11h-117.04c-4.418 0-8 3.582-8 8s3.582 8 8 8h117.04c4.418 0 8-3.582 8-8s-3.582-8-8-8z" />
                        <path d="m233.41 201.23h-117.04c-4.418 0-8 3.582-8 8s3.582 8 8 8h117.04c4.418 0 8-3.582 8-8s-3.582-8-8-8z" />
                    </svg>Rules
                </ion-item>
                <ion-item menu-close href="#/app/about" class="menu-list-item">
                    <svg enable-background="new 0 0 688.249 688.248" version="1.1" viewBox="0 0 688.25 688.25" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><g><path d="m64.189 377.58h92.947 0.029c14.353-4.779 26.034-11.959 26.034-26.287 0-14.348-11.686-26.288-26.067-26.288h-92.957c-14.367 0-26.053 11.939-26.053 26.288 0 14.328 11.681 21.508 26.067 26.287zm0-33.456h92.933c3.838 0 6.963 3.345 6.963 7.169 0 3.818-3.121 7.17-6.963 7.17h-92.904c-3.848 0-6.978-3.352-6.978-7.17s3.12-7.169 6.949-7.169z" stroke="#00000" stroke-miterlimit="10" stroke-width="2"/><path d="m157.16 516.19c14.353 0 26.034-11.969 26.034-26.301 0-14.35-11.69-26.273-26.067-26.273h-92.953c-14.367 0-26.058 11.924-26.058 26.273 0 14.332 11.681 26.301 26.067 26.301h92.947 0.03zm-92.947-19.12c-3.848 0-6.978-3.354-6.978-7.182 0-3.82 3.121-7.156 6.949-7.156h92.938c3.838 0 6.958 3.336 6.958 7.156 0 3.822-3.121 7.182-6.963 7.182h-92.904z" stroke="#00000" stroke-miterlimit="10" stroke-width="2"/>
                        <path d="m64.189 224.64h92.947c14.372 0 26.067-11.916 26.067-26.283 0-14.348-11.686-26.292-26.067-26.292h-92.961c-14.367 0-26.053 11.944-26.053 26.292 0 14.368 11.69 26.283 26.067 26.283zm0-33.456h92.933c3.838 0 6.963 3.351 6.963 7.174 0 3.824-3.116 7.165-6.949 7.165h-92.947c-3.833 0-6.949-3.341-6.949-7.165s3.12-7.174 6.949-7.174z" stroke="#00000" stroke-miterlimit="10" stroke-width="2"/><path d="m549.17 0h-373.93c-51.054 0-103.44 51.169-103.44 102.22v54.176c0 5.276 6.558 10.888 11.839 10.888h71.062c17.99 0 32.625 13.086 32.625 31.067 0 17.971-14.635 31.066-32.625 31.066h-71.062c-5.277 0-11.839 6.037-11.839 11.313v66.239c0 5.281 6.558 8.479 11.839 8.479h71.062c17.99 0 32.625 15.471 32.625 33.461 0 17.971-14.635 33.451-32.625 33.451h-71.062c-5.277 0-11.839 3.686-11.839 8.961v56.197c0 5.277 6.558 11.314 11.839 11.314h71.062c17.99 0 32.625 13.076 32.625 31.061 0 17.98-14.635 31.072-32.625 31.072h-71.062c-5.277 0-11.839 5.625-11.839 10.902v54.15c0 51.055 52.388 102.23 103.44 102.23h373.93c51.063 0 100.95-51.176 100.95-102.23v-483.8c-4e-3 -51.05-49.893-102.22-100.95-102.22zm81.829 586.02c0 40.641-41.185 83.111-81.834 83.111h-373.92c-40.64 0-84.324-42.471-84.324-83.111v-45.936h63.787c28.529 0 51.738-21.67 51.738-50.189 0-28.523-23.214-50.18-51.743-50.18h-63.782v-38.236h63.787c28.529 0 51.733-24.068 51.733-52.568 5e-3 -28.529-23.209-52.58-51.738-52.58h-63.782v-47.795h63.787c28.529 0 51.738-21.68 51.738-50.185 0-28.524-23.209-50.185-51.743-50.185h-63.782v-45.945c0-40.635 43.685-83.101 84.324-83.101h373.93c40.645 0 81.834 42.466 81.834 83.101v483.8h-5e-3z"/><path d="m491.44 396.56-2.537-0.598c-3.509-1.807-53.86-25.871-72.979-34.35v-11.084c9.559-8.078 13.713-17.871 13.855-28.022l0.588-1.042c6.453-3.842 11.528-11.576 12.943-21.221l0.205-0.598c1.606-10.83-1.696-20.667-8.039-25.929l1.229-12.202c0.028-0.306 0.062-0.621 0.062-0.932 0-23.463-18.606-56.508-59.992-56.508-41.396 0-60.012 33.045-60.012 56.508 0 0.311 0.019 0.626 0.048 0.932l1.2 12.202c-6.342 5.253-9.707 15.07-8.111 25.833l0.11 0.789c1.424 9.568 6.247 17.278 12.67 21.116l-0.401 1.051c0.144 10.166 2.825 19.969 12.384 28.032v11.031c-23.897 11.293-67.984 32.232-72.032 34.941-0.65 0.432-1.114 0.891-2.06 1.406-5.979 3.289-16.719 9.41-16.719 21.857v54.844c0 5.277 3.996 8.121 9.272 8.121h247.29c5.276 0 11.088-2.844 11.088-8.121v-54.85c0.011-13.572-14.284-20.323-20.063-23.206zm0.956 67.056h-229.7l-0.01-44.492c0.54-1.506 5.392-3.814 7.217-4.818 1.491-0.822 2.825-1.396 3.704-1.984 4.158-2.498 48.129-23.447 75.186-36.113 3.36-1.572 4.999-4.855 4.999-8.568v-21.355c0-2.854-0.77-5.554-2.968-7.37-3.518-2.906-9.167-8.966-9.167-16.919 0-0.311 0.11-0.622 0.081-0.932l-0.669-7.47c-0.459-4.698-3.795-8.269-8.512-8.522-0.698-0.32-2.935-2.801-3.627-7.456l-0.101-0.779c-0.617-4.168 0.401-7.031 1.061-8.044 4.512-0.765 7.948-4.693 7.948-9.425 0-0.784-0.096-1.548-0.272-2.285l-1.668-16.943c0.22-14.477 11.399-36.955 40.893-36.955 29.485 0 40.659 22.478 40.879 36.955l-1.797 18.291c-0.268 2.687 0.617 5.354 2.428 7.351 1.42 1.568 3.312 2.61 5.363 2.987 0.654 0.994 1.691 3.876 1.056 8.149l-0.086 0.612c-0.697 4.746-2.958 7.212-3.212 7.446-4.717 0.253-8.545 3.91-9.004 8.613l-0.731 7.47c-0.028 0.311-0.048 0.622-0.048 0.932 0 7.934-6.878 14.014-10.4 16.929-2.188 1.816-4.431 4.512-4.431 7.359v21.355c0 3.686 3.088 7.041 6.409 8.627 29.213 13.947 74.192 35.225 76.998 36.668l2.447 0.727c7.107 3.547 9.735 5.383 9.735 6.104v43.855h1e-3z"/></g></svg> Contact Us
                </ion-item>

                <ion-item menu-close ng-click="logout()" class="menu-list-item" ng-if="fcbuserdata.facebook_access_token!=''">
                    <svg class="svg-stroke" enable-background="new 0 0 511.989 511.989" version="1.1" viewBox="0 0 511.99 511.99" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <path d="m110.93 221.78c-4.71 0-8.533 3.823-8.533 8.533v51.2c0 4.71 3.823 8.533 8.533 8.533s8.533-3.823 8.533-8.533v-51.2c1e-3 -4.71-3.822-8.533-8.533-8.533z" />
                        <path d="m111.86 2.304-80.683 32.282c-22.724 8.414-31.172 19.832-31.172 42.129v358.48c0 22.298 8.448 33.715 30.959 42.061l81.058 32.427c4.011 1.519 8.038 2.287 11.981 2.287 17.152 0 29.602-14.336 29.602-34.091v-443.83c0-24.269-19.354-40.175-41.745-31.745zm24.678 475.57c0 10.18-5.035 17.024-12.535 17.024-1.869 0-3.883-0.401-5.803-1.118l-81.092-32.452c-16.102-5.965-20.036-11.102-20.036-26.138v-358.48c0-15.036 3.934-20.164 20.241-26.206l80.725-32.29c2.082-0.785 4.087-1.186 5.956-1.186 7.501 0 12.544 6.835 12.544 17.016v443.83z" />
                        <path d="m178.13 51.115h120.53c14.114 0 25.6 11.486 25.6 25.6v128c0 4.71 3.814 8.533 8.533 8.533s8.533-3.823 8.533-8.533v-128c0-23.526-19.14-42.667-42.667-42.667h-120.53c-4.71 0-8.533 3.823-8.533 8.533s3.823 8.534 8.533 8.534z" />
                        <path d="m332.8 298.58c-4.719 0-8.533 3.823-8.533 8.533v128c0 14.114-11.486 25.6-25.6 25.6h-119.47c-4.71 0-8.533 3.823-8.533 8.533s3.823 8.533 8.533 8.533h119.47c23.526 0 42.667-19.14 42.667-42.667v-128c-1e-3 -4.709-3.815-8.532-8.534-8.532z" />
                        <path d="m511.34 252.66c-0.435-1.05-1.058-1.988-1.852-2.782l-85.325-85.333c-3.337-3.336-8.73-3.336-12.066 0-3.337 3.337-3.337 8.73 0 12.066l70.767 70.775h-286.6c-4.71 0-8.533 3.823-8.533 8.533s3.823 8.533 8.533 8.533h286.6l-70.768 70.768c-3.337 3.337-3.337 8.73 0 12.066 1.664 1.664 3.849 2.5 6.033 2.5 2.185 0 4.369-0.836 6.033-2.5l85.325-85.325c0.794-0.794 1.417-1.732 1.852-2.782 0.862-2.081 0.862-4.436 0-6.519z" />
                    </svg>Logout
                </ion-item>
                <div class="pixolo-logo">
                    <p class="app-dev-text">App Developed By</p>
                    <a href="http://www.pixoloproductions.com"><img src="img/pixolo.gif" alt="Pixolo Productions"></a>
                    <a href="http://www.pixoloproductions.com"><p class="app-site-text">www.pixoloproductions.com</p></a>
                </div>

            </ion-list>
        </ion-content>



    </ion-side-menu>
</ion-side-menus>
