<div class="popup-slider">

    <ion-slides options="options" slider="data.slider" >
        <ion-slide-page ng-repeat="photo in photos" ng-if="photo.name!=''">
            <div class="box blue">
                <img src="{{photo.name|imagepath:path}}" alt="img1" >
            </div>
        </ion-slide-page>
    </ion-slides>


</div>
