<ion-view class="app-body">
    <ion-content class="gradient-fill padding-main-content">

        <iframe src="http://docs.google.com/gview?url=http://www.pixoloproductions.com/fcb/fcbescolarest/uploads/rules.pdf&embedded=true" style="width: 100%;height: 84vh;" frameborder="0"></iframe>


        <!--<div class="main-block">
            <div class="block-repeat">
                <div class="top-name following-heading">
                    <h2>RULES</h2>
                </div>
            </div>
            <div class="rule-block">
                <div class="rules-header">Basic Rules</div>
                <div class="rules-info">
                    <ul>
                        <li>Futbol Club Barcelona is a private Catalan sports association made up of physical persons.</li>
                        <li>Which is non-profit making and which features in the Generalitat de Catalunya Register of sports entities. </li>
                        <li>Futbol Club Barcelona is a private Catalan sports association made up of physical persons</li>
                    </ul>
                </div>

                <div class="rules-header">How TO USE</div>
                <div class="rules-info">

                    <ul>
                        <li>Futbol Club Barcelona is a private Catalan sports association made up of physical persons.</li>
                        <li>Which is non-profit making and which features in the Generalitat de Catalunya Register of sports entities. </li>
                        <li>Futbol Club Barcelona is a private Catalan sports association made up of physical persons</li>
                    </ul>
                </div>

                <div class="rules-header">TIMELINE USAGE</div>

                <div class="rules-info">
                    <ul>
                        <li>Futbol Club Barcelona is a private Catalan sports association made up of physical persons.</li>
                        <li>Which is non-profit making and which features in the Generalitat de Catalunya Register of sports entities. </li>
                        <li>Futbol Club Barcelona is a private Catalan sports association made up of physical persons</li>
                    </ul>
                </div>
            </div>
        </div>-->
    </ion-content>
</ion-view>
