<ion-view>

    <div class="search-bar">
        <svg enable-background="new 0 0 615.52 615.52" version="1.1" viewBox="0 0 615.52 615.52" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <path d="m602.53 549.74-184.31-185.37c26.679-37.72 42.528-83.729 42.528-133.55 1e-3 -127.47-102.75-230.82-229.49-230.82-126.74 0-229.49 103.35-229.49 230.82s102.75 230.82 229.49 230.82c49.53 0 95.271-15.944 132.78-42.777l184.31 185.37c7.482 7.521 17.292 11.291 27.102 11.291 9.812 0 19.62-3.77 27.083-11.291 14.963-15.041 14.963-39.452-2e-3 -54.493zm-246.63-229.97-15.042 21.273-21.158 15.138c-26.083 18.658-56.667 28.526-88.442 28.526-84.365 0-153-69.035-153-153.88 0-84.846 68.63-153.88 153-153.88s153 69.034 153 153.88c0.017 31.949-9.792 62.706-28.354 88.943z"/></svg>

        <input type="text" placeholder="SEARCH" ng-model="serach.team">

    </div>
    <ion-content>


        <div class="list teams-list">


            <div ng-repeat="category in $root.dataforfixture" ng-if="category.groups.length>0">
                <div class="top-name category-name">
                    <h2 class="wow zoomIn animated teams-title teams-title">{{category.name+' '+category.age}}</h2>
                </div>

                <div ng-repeat="group in category.groups" ng-if="group.teams.length>0" class="wow fadeInLeft animated">
                    <div>
                        <h2 class="teams-subtitle">{{group.name}}</h2>
                    </div>
                    <div class="item item-avatar team-item row" href="#" ng-repeat="team in group.teams|filter:serach.team">
                        <div class="col team-name-wrapper">
                            <div class="team-image" style="background-image: url({{team.image!=''?(team.image|imagepath:'teams'):'img/team_logo.png'}})"></div>
                            <!--                            <div class="team-image" src="" style="background-image: url({{team.image!=''?(team.image|imagepath:'teams'):'img/team_logo.png'}})"></div>-->
                            <h2 class="team-name">{{team.name}}</h2>
                        </div>
                        <div class="col col-25 follow-wrapper">
                            <button ng-click="followteam(team,$event)" id="follow{{team.id}}" ng-show="!userfollowteam[team.id].id" data-tickid="tick{{team.id}}" class="follow-button">Follow</button>
                            <a class="unfollow-button float-button" id="tick{{team.id}}" ng-click="unfollowteam(team.id,$event)">


                                <!--<div class="item item-avatar team-item row" href="#" ng-repeat="team in teams">
                <div class="col team-name-wrapper">
                    <div class="team-image" src="" style="background-image: url({{team.image|imagepath:'teams'}})"></div>
                    <h2 class="team-name">{{team.name}}</h2>
                </div>
                <div class="col col-25 follow-wrapper">
                   
                    <button ng-click="followteam(team,this)" data-tickid="tick{{$index}}" class="follow-button">Follow</button>
                    
                    <a class="unfollow-button float-button" id="tick{{$index}}">-->

                                <svg enable-background="new 0 0 52 52" version="1.1" viewBox="0 0 52 52" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                    <path d="m26 0c-14.336 0-26 11.663-26 26s11.664 26 26 26 26-11.663 26-26-11.664-26-26-26zm14.495 17.329-16 18c-0.394 0.443-0.943 0.671-1.496 0.671-0.439 0-0.88-0.144-1.249-0.438l-10-8c-0.862-0.689-1.002-1.948-0.312-2.811 0.689-0.863 1.949-1.003 2.811-0.313l8.517 6.813 14.739-16.581c0.732-0.826 1.998-0.9 2.823-0.166 0.826 0.735 0.901 1.999 0.167 2.825z" />
                                </svg>
                            </a>
                        </div>
                        <!-- <button ng-click="unfollowteam(team)">Unfollow</button>-->
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
