<ion-view class="app-body">
    <ion-content class="gradient-fill">

        <div class="post-loader" ng-if="showspinner">
            <ion-spinner icon="{{platform}}">
            </ion-spinner>

        </div>

        <div class="timeline" on-swipe-down="getstories()" ng-if="!showlikebutton">
            <div class="timeline-block" ng-repeat="timelinepost in timelineposts" ng-if="timelinepost.caption!=''||timelinepost.image!=''">
                <!--OPTIONS ICONS-->


                <div class="dropdown">
                    <a class="dropbtn">
                        <svg class="more-options" enable-background="new 0 0 60 60" version="1.1" viewBox="0 0 60 60" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                            <path d="m30 16c4.411 0 8-3.589 8-8s-3.589-8-8-8-8 3.589-8 8 3.589 8 8 8z" />
                            <path d="m30 44c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8z" />
                            <path d="m30 22c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8z" />
                        </svg>
                    </a>

                    <div class="dropdown-content">
                        <!--<a ng-click="sharepost(timelinepost)">Share</a>-->
                        <a ng-click="deletepost(timelinepost)" ng-if="$root.fcbuserdata.id==timelinepost.user_id"> Delete</a>
                        <a ng-click="reportpost(timelinepost)">Report</a>
                    </div>
                </div>




                <!---->
                <!--NAME AND TIME-->
                <div class="timeline-block-header timeline-post-header">
                    <div>
                        <svg enable-background="new 0 0 612 612" version="1.1" viewBox="0 0 612 612" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" ng-if="timelinepost.facebook_id==''">
                            <style type="text/css">
                                .st0 {
                                    fill: #FFFFFF;
                                }
                                
                                .st1 {
                                    fill: #B61E48;
                                }
                                
                                .st2 {
                                    fill: #101F36;
                                }
                                
                                .st3 {
                                    fill: #9C9C9C;
                                }
                            </style>
                            <circle class="st0" cx="306" cy="309" r="284" />
                            <path class="st1" d="m121 438.2c-3.1 12.8-3.8 26.2-5.6 39.4v1.3h47.3v-121c-20.1 22.2-34.2 48.8-41.7 80.3z" />
                            <path class="st2" d="m210.2 320.1c-18.4 10.7-34.2 23.3-47.5 37.8v121h47.8v-158.9c-0.2 0-0.3 0.1-0.3 0.1z" />
                            <path class="st1" d="m218.1 321.4c-2-1.3-5.7-2.2-7.7-1.4v158.9h47.8v-138c-13.9-4.5-27.3-11.1-40.1-19.5z" />
                            <path class="st2" d="m258.2 340.9v138.1h47.8v-130.7c-16.6 0-32.6-2.5-47.8-7.4z" />
                            <path class="st1" d="m310 348.2h-4v130.6h47.8v-138c-14 4.6-28.6 7.1-43.8 7.4z" />
                            <path class="st2" d="m393.7 321.1c-12.6 8.7-26 15.2-40 19.8v138h47.8v-159.2c-2.6-1-4.8-0.6-7.8 1.4z" />
                            <path class="st1" d="m403.8 320.8c-0.8-0.5-1.5-0.8-2.2-1.1v159.2h47.8v-120.9c-12.8-14.1-28-26.5-45.6-37.2z" />
                            <path class="st2" d="m493.2 448c-6.8-35.5-21.6-65.4-43.9-90v121h47.3v-1.3c-1.1-10-1.6-20-3.4-29.7z" />
                            <circle class="st3" cx="306" cy="205.2" r="111" />
                        </svg>
                        <img src="{{timelinepost.facebook_id|facebookprofile}}" ng-if="timelinepost.facebook_id!=''" err-src="img/fcb_default_profile.svg">
                    </div>
                    <div class="post-detail-username">
                        <p class="timeline-username">{{timelinepost.name}}</p>
                        <p class="timeline-time">{{timelinepost.time}}</p>
                    </div>
                </div>
                <!--CAPTION-->

                <div class="timeline-block-content">
                    <p ng-if="timelinepost.caption!=''">{{timelinepost.caption}}</p>
                    <div ng-if="timelinepost.image!=''" class="timeline-image" style="background-image:url({{timelinepost.image|imagepath:''}})" ng-click="showphotopopup(timelinepost.image)"></div>

                    <div class="video-wrapper" ng-if="timelinepost.video!=''">
                        <iframe class="youtubevideo" ng-src="{{timelinepost.video | youtubetrusted}}" style="width: 100%" frameborder="0" allowfullscreen></iframe>
                    </div>


                </div>
            </div>










        </div>
        <div ng-if="showlikebutton" class="text-center">
            <button class="like-button" ng-click="openpagetolike()">Like</button>
            <div class="fb-like" data-href="https://www.facebook.com/FCBEscolaMUMB/" data-layout="box_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FFCBEscolaMUMB%2F&width=63&layout=box_count&action=like&size=large&show_faces=true&share=true&height=65&appId=626608564344145" width="63" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
    </ion-content>

    <div class="post-button">
        <a ng-click="gotoaddstorypage()" class="post-btn float-button wave-effect">
            <p>+</p>
        </a>
    </div>



</ion-view>
