.about-div {
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-title {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    background-color: #333333;
    width: 200px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 5px;
}

.contact-block {
    margin-top: 15%;
    .about-head {
        text-decoration: underline;
        text-transform: uppercase;
    }
    p {
        color: white;
        text-align: center;
        line-height: 1;
    }
}

.pixolo-logo {
    text-align: center;
    margin: 0 10%;
    margin-top: 10px;
    .app-dev-text {
        font-family: $helvetica-thin;
        margin: 0px;
        color: #fff;
        font-size: 11px;
    }
    img {
        width: 60%;
    }
    .app-site-text {
        color: #5aa4f3;
        font-size: 13px;
        line-height: 13px !important;
        text-align: center;
        background-color: rgba(250, 250, 250, 0.09) !important;
        padding: 8px;
        display: inline-block !important;
        margin-top: 12px !important;
        border-radius: 3px;
    }
}

.last-block {
    margin-bottom: 15%;
}

.first-block {
    margin-top: 20px !important;
}