    .post-main-wrapper {
        width: 93%;
        margin: auto;
        position: relative;
        margin-top: 30px;
        margin-bottom: 50px;
        .post-header-wrap {
            float: left;
            .post-profile 
            .detail-image {
                display: flex;
                align-items: center;
                margin-top: -19px;
                padding: 5px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
        .post-body-wrap {
            top: 32px;
            z-index: -5;
            width: 100%;
            position: absolute;
            background-color: white;
            border-radius: 3px;
            padding: 10px;
            padding-top: 30px;
            .post-textarea {
                width: 100%;
                margin: 0;
                font-family: $cera;
            }
            .post-action-butons {}
        }
    }
    
    .image-wrapper {
        position: relative;
    }
    
    .cut-image {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        padding: 8px;
        justify-content: flex-end;
        display: flex;
        background: rgba(0, 0, 0, 1);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.84) 59%, rgba(0, 0, 0, 0.8) 76%, rgba(0, 0, 0, 0.58) 87%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(59%, rgba(0, 0, 0, 0.84)), color-stop(76%, rgba(0, 0, 0, 0.8)), color-stop(87%, rgba(0, 0, 0, 0.58)), color-stop(100%, rgba(0, 0, 0, 0)));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.84) 59%, rgba(0, 0, 0, 0.8) 76%, rgba(0, 0, 0, 0.58) 87%, rgba(0, 0, 0, 0) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.84) 59%, rgba(0, 0, 0, 0.8) 76%, rgba(0, 0, 0, 0.58) 87%, rgba(0, 0, 0, 0) 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.84) 59%, rgba(0, 0, 0, 0.8) 76%, rgba(0, 0, 0, 0.58) 87%, rgba(0, 0, 0, 0) 100%);
    }
    
    .cross-img {
        border: 1px solid white;
        border-radius: 100%;
        padding: 3px;
        width: 22px;
        height: 22px;
    }
    
    .gallery-button {
        width: 39px;
        height: 30px;
        margin-left: 4px;
        margin-top: -5px;
    }
    
    .fb-toggle {
        margin-left: 160px;
    }
    
    .toggle .track {
        width: 56px !important;
        height: 32px !important;
    }
    
    .toggle {
        input:checked + {
            .track {
                border-color: #ece7f1 !important;
                background-color: #f4f0f7 !important;
                svg {
                    path {
                        fill: #3b5998;
                    }
                }
            }
        }
    }
    
    .hr-tag {
        border-bottom: 1px solid #d5d2d8;
    }
    
    .cancel-wrap {
        font-weight: 600;
        margin-top: 5px;
        font-family: $cera;
    }
    
    .handle {
        width: 29px !important;
        height: 26px !important;
    }
    
    .post-username {
        margin-left: -4px;
        color: white;
    }
    
    .post-name {
        margin-top: 11px !important;
    }
    
    .post-img {
        margin-top: 19px !important;
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid #B61E48 !important;
        overflow: hidden;
    }
    
    .tick-icon-button {
        margin-left: 117px !important;
    }
    
    .toggle input:checked + .track {
        border-color: none !important;
        background-color: none !important;
    } //:focus, a, a:active, a:focus, a:hover, button, button:focus

.cancel-button{
    color:#2f2f2f !important;
   a:active{
        color: red;
    }
    
}