.album-content {
    padding-top: 70px!important;
}

.fcb-album {
    margin: 0% 10%;
    position: relative;

    .show-immage {
        position: relative;
        width: 100%;
        height: auto;
    }



    .rotated-images {
        border: 4px solid #fff;
        top: 0;
        position: absolute;
        width: 100%;
        height: auto;
    }

    .img1 {
        border: 4px solid #fff;
        height: 155px;
        width: 100%;
        object-fit: cover;


    }

    .img2 {

        height: 155px;
        width: 100%;
        object-fit: cover;
        transform: rotate(3deg);

    }

    .img3 {
        height: 155px;
        width: 100%;
        object-fit: cover;
        transform: rotate(-3deg);

    }
}

.caption {
    margin: 15px 0px 40px 0px;
    height: 22px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 16px;
    text-align: center;
    p {
        font-size: 11px;
        text-transform: uppercase;
        font-family: Helvetica;
        text-align: center;
        font-weight: 600;
        padding-top: 1px;
        margin: 0;
        letter-spacing: 1px;
        display: inline;
        background: white;
        padding: 6px;
        border-radius: 3px;
    }
}


//Popup styles
.photo-popup {
    .popup {
        background-color: transparent;
        width: 100%!important;
        box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
        .popup-head {
            display: none;
        }

        .popup-body {
            padding: 0 !important;
            .popup-slider {
                height: 90vh;
                background: none;
                background-color: transparent;
                vertical-align: middle;
                width: 100%;
                display: flex;
                align-items: center;
            }
        }

    }
}

.swiper-container-horizontal > .swiper-pagination {
    top: 170px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    img {
        height: auto;
        width: 100%;
        display: block;
        margin: 0 auto;
        border: 3px solid #fff;
    }
}

.backdrop.active {
    opacity: 0.8;
}

.backdrop.visible {
    background-color: black;
}
