.category-style {
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin-top: 10px;
    h2 {
        font-family: $helvetica-thin;
        position: relative;
        z-index: 99;
        color: #8e9094;
        font-weight: 200;
        padding-left: 5px;
    }

    &:after {
        content: " ";
        background-color: #dee0e2;
        display: block;
        width: 100%;
        left: 0;
        height: 18px;
        position: absolute;
        top: 36px;
    }
}

.category-main-block {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.category-block {
    background-color: #dee0e2;
    margin: 20px 25px;
    padding: 3px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    border-left: 10px solid var(--primary-color);
    
    svg {
        width: 12px;
        height: 12px;
        fill: #808080;
    }
}

.category-div {
    a {
        color: #898d92;
        text-decoration: none;
    }
}

.category-text-color {
    font-weight: 600;
    color: $text-black-color;
    font-size: 1em;
    font-family: $helvetica;
}
