.errorpopup {
    .popup {
        border-radius: 12px;
        width: 80%;
        height: auto;
        padding: 5%;
        position: relative;
    }
    .popup-head {
        padding: 0;
        font-size: 30px;
        text-align: left;
        .popup-title {
            font-size: 30px;
            color: #f5b506;
            font-weight: 600;
            font-family: $cera;
        }
    }
    .popup-body {
        padding: 0;
        padding-top: 15px;
        font-size: 20px;
        line-height: 28px;
        font-family: $cera;
    }
    .button-default {
        background: var(--primary-contrast);
        color: var(--primary-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
        border-radius: 3px;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
    }
}
