/* Fixture Dates Tab */

.top-dates-wrapper {
    background: #fff;
    height: 50px;
    overflow: hidden;
    padding: 7px 0 7px 4px;
    top: 44px;
    position: fixed;
    width: 95% !important;
    margin: 0 !important;
    left: 2.5%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3803921568627451);
    .top-date {
        display: inline;
        font-size: 40px;
        font-weight: 100;
        line-height: 38px;
        margin-right: 30%;
        position: absolute;
        margin: 0;
        top: 5px;
        white-space: nowrap;
        font-weight: 100;
        color: $grey-text-color;
        font-family: $helvetica-thin;
        transition: 0.5s all;
        z-index: 99999;
    }
    .out-left {
        left: -60%;
    }
    .prev {
        left: -28%;
    }
    .active {
        left: 30%;
    }
    .next {
        left: 86%;
    }
    .out-right {
        left: 120%;
    }
}

.date-fixture-item {
    position: relative;
}

.back-calendar {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
    padding-top: 65%;
    flex-wrap: wrap;
    svg {
        width: 30%;
        height: 30%;
        flex-basis: 100%;
        path {
            fill: #717375;
        }
    }
    .date-text {
        font-family: $helvetica-thin;
        font-size: 30px;
        color: #717375;
        flex-basis: 100%;
        text-align: center;
        margin-top: -140px;
    }
}


.date-wrapper {
    .date-text {
        margin: 0;
        font-size: 28px;
        line-height: 40px;
        font-weight: 100;
        padding: 2px;
        color: $grey-text-color;
        font-family: $helvetica-thin;
    }
}

.fixtures-wrapper {
    background-color: white;
    width: 95%;
    margin: auto;
    .category-fixtures-wrapper {
        min-height: 75vh;
    }
    .category-wrapper {
        background-color: $title-bg-color;
        height: 38px;
        display: flex;
        align-items: center;
        .category-text {
            margin: 0;
            color: white;
            padding: 0 2.5%;
            text-transform: capitalize;
            font-family: $helvetica-thin;
            font-size: 15px;
        }
    }
    .fixture-item {
        position: relative;
        padding: 0 4%;
        margin: 18px 0px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.23137254901960785);
        .group-div {
            text-align: center;
            transform: translateY(-12px);
            .group-text {
                margin: 0;
                text-transform: uppercase;
                display: inline;
                font-family: $helvetica-thin;
                font-size: 9px;
                letter-spacing: 1px;
                font-weight: 600;
                padding: 5px 14px;
                background: $title-bg-color;
                border-radius: 13px;
                color: white;
            }
        }
        .schedule-div {
            position: absolute;
            width: 92%;
            text-align: center;
            top: 15px;
            .venue-text {
                margin: 0;
                text-transform: uppercase;
                font-family: $helvetica-thin;
                font-weight: 100;
                color: $light-grey-text;
                line-height: 15px;
                font-size: 12px;
                letter-spacing: 1.3px;
            }
        }

        .fixture-div {
            display: flex;
            padding: 5px 0;
            .team-div {
                flex-basis: 30%;
                text-align: center;
                .team-image {
                    width: 50%;
                    background-size: cover;
                    background-position: center;

                }
                .team-name {
                    font-family: $cera;
                    margin: 0;
                    font-size: 13px;
                    font-weight: 100;
                    line-height: 15px;
                    text-transform: capitalize;
                }
            }
            .team-score-wrapper {
                flex-basis: 40%;
                text-align: center;
                .vs-text {
                    font-family: $helvetica-thin;
                    margin: 0;
                    font-size: 38px;
                    line-height: 40px;
                    font-weight: 100;
                    padding-top: 28px;
                    color: $text-black-color;
                }
                .main-score {

                    font-family: $helvetica-thin;
                    font-size: 64px;
                    line-height: 54px;
                    margin: 0;
                    font-weight: 100;
                    color: $text-black-color;
                }
                .penalty-score {
                    font-family: $helvetica-thin;
                    font-size: 16px;
                    line-height: 18px;
                    margin: 0;
                    font-weight: 100;
                    padding-bottom: 4px;
                    color: $text-black-color;
                }
            }
        }
    }
}
