.team-name-bar {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 5px;
    position: sticky;
   
}


.following-fixture {
    &:nth-child(odd) {
        background-color: #e9eaec;
    }
    display: flex;
    justify-content: space-around;
    padding: 15px 10px;

    img {
        border-radius: 50%;
        height: 50px;
    }
}

.following-points {
    text-align: center;
    line-height: .9;

    .small-text {
        font-size: .8em;
    }

    .big-text {
        font-size: 4em;
    }
}

.team1 {
    padding-top: 18px;
}

.team2 {
    padding-top: 18px;
}
