//Body background image
.app-body {
    background-image: url("../img/fcb_login.png");
    background-size: cover;

}

//Body background gradient effect
.gradient-fill {
    position: fixed;
    top: -67px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(16, 31, 55, 1);
    background: -webkit-linear-gradient(top, rgba(var(--secondary-rgb), $gradient-opacity) 0, rgba(var(--secondary-rgb), $gradient-opacity) 25%, rgba(var(--primary-rgb), $gradient-opacity) 100%);
    background: linear-gradient(to bottom, rgba(var(--secondary-rgb), $gradient-opacity) 0%, rgba(var(--secondary-rgb), $gradient-opacity) 25%, rgba(var(--primary-rgb), $gradient-opacity) 100%);
}

//Top Title
.block-repeat {
    position: relative;
}

.top-name {
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin-top: 10px;


    h2 {
        font-family: $helvetica-thin;
        position: relative;
        z-index: 99;
        color: #8e9094;
        font-weight: 200;
        padding-left: 5px;
    }
}

.top-name::after {
    content: " ";
    background-color: #dee0e2;
    display: block;
    width: 100%;
    height: 18px;
    position: absolute;
    top: 20px;
}


.main-block {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.spinner svg {
    width: 28px;
    height: 28px;
    stroke: #b3c5c5 !important;
    fill: #b3c5c5 !important;
}

.no-data-section {
    margin-top: 60%;
    text-align: center;
    color: var(--primary-contrast);
}
