.group-info {
    width: 100%;
    margin-top: 0px !important;
    margin-bottom: 30px;
}

.group-b {
    animation-delay: 0.3s;
}

.group-c {
    animation-delay: 0.5s;
}

.group-table {
    width: 100%;
    tr {
        border-bottom: 1px solid grey;
        .table-grp-name {
            padding-right: 70px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .table-points {
            height: 10px;
            padding-right: 5px;
        }
        .point-numbers {
            text-align: center;
            background-color: var(--primary-color);
            color: white;
            border: 5px solid;
        }
        th {
            background-color: var(--secondary-color);
            color: #fff;
            font-family: $helvetica;
        }
        td {
            line-height: 36px;
            font-family: $helvetica;
            vertical-align: middle;
            font-size: 25px;
            padding: 4px;
            min-width: 20px;
            &:nth-child(2n+3) {
                background-color: #eeeff0;
            }
            img {
                width: 25px;
                height: 25px;
                object-fit: cover;
                vertical-align: middle;
            }
        }

        td:not(:first-child) {
            text-align: center;
        }

        td:last-child {
            background-color: #fff !important;
        }
    }

}



.padding-main-content {
    padding: 10px;
}

.group-team-name {
    width: 30%;
    padding-top: 2px;
    padding-left: 4px;
    text-align: center;

    p {
        display: block;
        line-height: 14px;
        font-size: 13px;
        font-weight: 400;
        margin: 0;
        font-family: $helvetica;
    }
}
