.loading-popup {
    overflow: hidden;
    .popup {
        width: 94px;
        height: 75px;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .popup-head {
        display: none;
    }
    .popup-body{
        overflow: hidden;
    }
    
}