.login-wrapper {
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    .login-div1 {
        flex-basis: 100%;
        text-align: center;
    }
    .login-div2 {
        flex-basis: 100%;
        text-align: center;
        padding-bottom: 40px;
        div {
            width: 100%;
        }
    }
}

.fcb-logo {
    margin-top: 17px;
    height: 100px;
    width: 100px;
    
}

.facebook-button {
    opacity: 0;
    -webkit-animation: fadeIn 2s forwards;
    animation: fadeIn 2s forwards;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    svg {
        height: 20px;
        margin-bottom: -4px;
        margin-right: 13px;
        path {
            fill: #fff;
        }
    }
    a {
        background-color: #3b5998;
        color: white !important;
        width: 80%;
        margin: 0 auto;
    }
}
.button.activated {
    background-color: #5473b5 !important;
    color: white !important;
    border: none !important;
}
.facebook-button:hover {
    color: black !important;
}

.login-body {
    background-image: url("../img/fcb_login.png");
    background-size: cover;
    overflow-y: hidden;
}

.skip-button {
    opacity: 0;
    -webkit-animation: fadeIn 2s forwards;
    animation: fadeIn 2s forwards;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    width: 100%;
    text-align: center;
    a {
        color: #fff;
        text-decoration: none;
    }
}

.splash-text {
    -webkit-animation: fadeOut 4s forwards;
    animation: fadeOut 4s forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    p {
        font-family: $helvetica-thin;
        font-weight: 600;
        letter-spacing: 1.7px;
        text-align: center;
        color: #fff;
        font-size: 1.5em;
        margin-top: 60%;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
