.menu-content {
    padding: 0 !important;
}

.menu-header {
    overflow: hidden;
    background-image: url("../img/supporters_sidemenu.png");
    width: 100%;
    height: 150px;
    background-size: contain;
    position: relative;
}

.item-complex .item-content,
.item-radio .item-content {
    display: flex;
}

.fcb-stripe {
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: 150px;
    background-size: cover;
    background-color: var(--primary-contrast);
}

.default-image {
    background: rgba(0, 0, 0, .2) !important;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    padding: 10%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .pic-wrapper {
        flex-basis: 100%;
        width: 100%;
    }
    .menu-profile-pic {
        width: 35%;
        height: auto;
        border-radius: 100%;
        background-size: cover;
        background-position: top;
        border: 4px solid white;
    }
    .menu-profile-name {
        flex-basis: 100%;
        width: 100%;
        font-size: 18px;
        color: white;
        font-weight: 600;
        background: rgba(0, 0, 0, 0.2);
        padding: 5px;
    }
}

.menu-list {
    .list {
        .menu-list-item {
            display: flex;
            align-items: center;
            font-size: 15px;
            font-family: $cera;
            a {
                width: 100%;
            }
            .svg-stroke {
                stroke-width: 10px !important;
            }
            .rules-svg {
                stroke-width: 8px;
            }
            svg {
                stroke: black;
                fill: none;
                stroke-width: 15px;
                height: 16px;
                width: 16px;
                margin-right: 18px;
                margin-left: 8px;
                margin-top: 4px;
            }
        }
        .pixolo-logo {
            text-align: center;
            margin: 10%;
            .app-dev-text {
                font-family: $helvetica-thin;
                margin: 0px;
                color: #737070;
                font-size: 11px;
            }
            img {
                width: 60%;
            }
            .app-site-text {
                color: #5aa4f3;
                font-size: 13px;
                line-height: 13px;
                text-align: center;
                background-color: rgba(250, 250, 250, 0.09);
                padding: 8px;
                display: inline-block;
                margin-top: 12px;
                border-radius: 3px;
            }
        }
    }
}