.fcb-nav-header {
    background-image: url("../img/fcb_login.png") !important;
    background-size: cover !important;
    background-position: top !important;
    border: none !important;
    outline: none;
    background-color: transparent !important;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .77);
    height: 43px;
    .header-item {
        background-color: rgba(var(--secondary-rgb), $gradient-opacity);
        margin: 0;
        width: 100%;
        left: 0;
        right: 0;
    }

    .buttons-left {
        background: transparent;
    }
    .title-left {
        left: 0 !important;
    }
}

.fcb-login-header {
    .fcb-nav-header {
        background: transparent !important;
        border: none !important;
        .header-item {
            background: transparent !important;
        }
    }
}

.menu-button-icon {
    height: 30px;
    width: 30px;
    .st0 {
        fill: transparent;
        stroke: transparent;
    }
    path {
        fill: var(--secondary-contrast);
        stroke: var(--secondary-contrast);
    }
}

.buttons-right {
    text-align: right;
    color: yellow;
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
    .button-icon {
        color: var(--primary-contrast) !important;
        font-family: $cera;
    }
}
