$light-grey: #e6e6e6;

* {
    box-sizing: border-box;
}

body {
    font-family: Helevetica, Arial, sans-serif;
}

.container {
    max-width: 770px;
}

.gallery-slider {
    position: relative;
    overflow: hidden;
    background-color: $light-grey;
    margin: 10px;
    border-radius: 5px; // __images
    &__images {
        margin: 0;
        position: relative;
        .item {
            padding: 0;
            .img-fill {
                text-align: center;
                padding: 10px;
                height: 200px;
                @media screen and (min-width: 576px) {
                    height: 300px;
                }
                @media screen and (min-width: 720px) {
                    height: 450px;
                }

                img {
                    display: inline-block;
                    position: relative;
                    max-width: 100%;
                    max-height: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .next-arrow,
        .prev-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 47px;
            height: 47px;
            border-radius: 50%;
            background: rgba(0, 0, 0, .70);
            border: 0 none;
            text-align: center;
            color: #FFF;
            z-index: 5;
            opacity: 0;
            transition: all 0.5s;
            outline: 0;
            svg {
                top: 4px;
            }
        }
        .next-arrow {
            right: 25px;
        }
        .prev-arrow {
            left: 25px;
        }
        &:hover .next-arrow,
        &:hover .prev-arrow {
            opacity: 1;
        }
        .caption {
            width: 100%;
            position: relative;
            text-align: center;
            display: block;
            opacity: 1;
            transition: opacity 0.15s;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            background-color: var(--primary-color);
            color: #fff;
            border-radius: 0px !important;
            &.hide {
                opacity: 0;
            }
        }
    } // __thumbnails
    &__thumbnails {
        position: relative;
        top: auto;
        left: 0px;
        width: 100%;
        z-index: 4;
        transition: all 0.8s;
        margin: 0;
        padding: 13px 0;
        &:before,
        &:after {
            content: '';
            display: block;
            width: 100px;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 10;
            pointer-events: none;
        }
        &:before {
            left: 0;
            background: linear-gradient(to right, rgba($light-grey, 1) 0%, rgba($light-grey, 0) 100%);
        }
        &:after {
            right: 0;
            background: linear-gradient(to right, rgba($light-grey, 0) 0%, rgba($light-grey, 1) 100%);
        }
        .item {
            padding: 0px !important;
            .img-fill {
                height: 70px;
                background-color: #fff;
                cursor: pointer;
                text-align: center;
                border: 1px solid #b61b47;
                border-radius: 5px;
                img {
                    opacity: 0.5;
                    transition: all 0.5s;

                    display: inline-block;
                    position: relative;
                    max-width: 100%;
                    max-height: 100%;
                    top: 50%;
                    transform: translateY(-50%);

                }
            }
            &:hover .img-fill img {
                opacity: 1;
            }
            &.slick-center {
                img {
                    opacity: 1;
                }
            }
        }
        .next-arrow,
        .prev-arrow {
            position: absolute;
            width: 40px;
            height: 40px;
            top: 50%;
            transform: translateY(-50%);
            background-color: var(--secondary-color);
            color: #FFF;
            border: 0 none;
            z-index: 15;
            svg {
                top: 2px;
            }
        }
        .next-arrow {
            right: 0px;
        }
        .prev-arrow {
            left: 0px;
        }
    } // generic arrows
    .next-arrow,
    .prev-arrow {
        cursor: pointer;
        svg {
            width: 18px;
            height: 18px;
            position: relative;
        }
    } // image fills
    .img-fill {
        width: 100%;
        display: block;
        overflow: hidden;
        position: relative;
        text-align: center;

    } // slick overrides
    .slick-slider {
        margin: 0 -7.5px;
        padding: 0!important;
    }
    .zoomIn animated {
        .slick-slide {
            float: left;
            padding: 0 7.5px;
            outline: none;
        }
    }
}

.slider-pager-page:only-of-type {
    display: none;
}
