.rules-header {
    background-color: #dee0e2;
    margin: 0% 20%;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: $cera;
}

.rules-info {
    margin: 0 7%;
    font-family: $cera;

    ul {
        padding-left: 6%;
        list-style-image: url(../img/football.svg);

        li {
            margin-top: 10px;
        }
    }
}
