.tabs-main-wrapper {
    /* Background color using CSS 4 */
    background-color: var(--primary-color);
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.14), 0 -2px 1px -2px rgba(0, 0, 0, 0.12), 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    background-image: none;
    border: none;
    /*svg {
        path {
            fill: white !important;
        }
    }*/
    color: var(--primary-contrast) !important;
}

.tab-item {
    font-family: cerafont;
    font-size: 12px !important;
    svg {
        .tab-icon-bg {
            fill: var(--primary-color);
        }

        .tab-icon-border {
            fill: var(--primary-contrast);
        }
        width: 25px;
        height: 25px;
        display: block;
        margin: 3px auto;
        path {}
    }
}

.tab-active {
    svg {
        .tab-icon-bg {
            fill: var(--primary-contrast);
        }
        .tab-icon-border {
            fill: var(--primary-color);
        }
    }
}
