.teams-title {
    font-family: $helvetica;
    font-size: 36px !important;
}

.teams-subtitle {
    color: white;
    background-color: var(--secondary-color)!important;
    font-size: 18px;
    text-align: center;
    padding-top: 4px;
    height: 30px;
    font-family: $helvetica;
}


.search-bar {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    position: sticky;
    z-index: 99999;
    background-color: white;
    svg {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    position: absolute;
    top: -20px;
        path {
            fill: #dee0e2;
        }
    }
    input {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: -30px;
        ::placeholder {
            color: #dee0e2;
        }
    }
}

.teams-list {
    padding: 0;
    margin-top: 50px;
    .category-name {
        position: sticky !important;
        top: 0px !important;
    }
}

.team-item {
    display: flex;
    align-items: center;
    .team-name-wrapper {
        display: flex;
        align-items: center;
        margin-right: 10px;
        overflow: hidden;
    }
    .team-image {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.6196078431372549);
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-position: center center;
        background-size: cover;
        display: inline-block;
    }
    .team-name {
        font-family: $helvetica;
        white-space: nowrap;
        font-size: 16px;
        width: 170px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        padding: 10px 6px;
        &:hover {}
    }
    &:hover {
        .team-name {
            overflow: visible;
        }
    }
    .follow-wrapper {
        display: flex;
        justify-content: center;
        
    }
    .follow-button {
        font-family: $helvetica;
        background: white;
        border: 2px solid var(--primary-color);
        border-radius: 18px;
        padding: 3px 20px;
        transition: 0.7s all;
        &:focus{
            background-color: #afafaf !important;
        }
        
    }
    .unfollow-button {
        display: none;
        animation: continpus-rotate;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        height: 0px;
        width: 0px;
        transition: 0.4s all;
        opacity: 0;
        svg {
            path {
                fill: var(--primary-color);
            }
        }
    }
}

.continous-rotate {
    animation: continous-rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes continous-rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
