/*Spinner*/

.post-loader {
    text-align: center;
}

.timeline {
    padding: 15px 0px;
    .timeline-block {
        background-color: white;
        margin: 15px 8px;
        border-radius: 5px;
    }

}

.post-detail-username {
    margin-top: -11px;
}

.timeline-block-header {
    
    display: flex;
    align-items: center;
    margin-top: -19px;
    
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .timeline-username {
        font-family: $cera;
        font-size: 1em;
        line-height: 1px;
        margin-top: 14px;

    }

    .timeline-time {
        font-family: $helvetica-thin;
        font-size: 10px;
        line-height: 1px;
        padding-top: 5px;
    }

    img {
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid #fff;
        overflow: hidden;
    }
    svg {
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }
}
.timeline-post-header{
    border: 1px solid #ccc;
     background-color: #ece9e9;
}
.timeline-block-content {
    padding: 5px;
    p {
        font-family: $cera;
        font-size: 1em;
        font-weight: 500;
    }
}



.like-button {
    color: white;
    background-color: #3b5998;
}

.more-options {
    width: 10px !important;
    fill: grey;
    position: absolute !important;
}

.timeline-image {
    /* background-image: url("../img/supporters_sidemenu.png");*/
    background-size: cover;
    height: 180px;
    border-radius: 5px;
}



.post-btn {
    z-index: 9999;
    bottom: 10%;
    left: 80%;
    position: fixed;
    height: 56px;
    width: 56px;
    background-color: #ff2929;


}

.post-button {
    a {
        text-decoration: none;

    }

    p {
        font-size: 2.5em;
        text-align: center;
        padding-top: 18px;
        color: #fff;
    }

    .wave-effect {
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        vertical-align: middle;
        z-index: 1;
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out;

    }
}

/*dropdown*/

.dropbtn {
    width: 10px !important;
    fill: grey;
    position: absolute !important;
    right: 25px !important;

}

.dropdown {

    display: inline-block;
}

.dropdown-content {

    width: 10px !important;
    fill: grey;
    right: 27px !important;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 124px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
