:root {
    /*--secondary-color:  #f8c022;
    --secondary-contrast: #1d191a;*/
    --secondary-color:  #231f20;
    --secondary-contrast: #f8c022;
    --primary-color: #231f20;
    --primary-contrast: #f8c022;
    /*--secondary-rgb: 248, 192, 34;*/
    --secondary-rgb: 35, 31, 32;
    --primary-rgb: 35, 31, 32;
}

$gradient-opacity: 0.9;
/**/

@font-face {
    font-family: cerafont;
    src: url(CeraGR.otf);
}

@font-face {
    font-family: HelveticaNeueThin;
    src: url(HelveticaNeueThin.ttf);
}

@font-face {
    font-family: HelveticaRegular;
    src: url(HelveticaRegular.ttf);
}

$card-block-bg: #d5d2d8;
$grey-text-color: #8e9094;


$helvetica: HelveticaNeueThin;
$helvetica-thin: HelveticaNeueThin;
$cera: cerafont;

$text-black-color: #3d4455;
$title-bg-color: #3d4454;
$light-grey-text: #9a9a9c;
